[2019-05-04 13:04] mkovatsc opened #611 "Default value of "contentType" in "response""
Currently, the contentType of possible responses defaults to "application/json".

I think it would be better if it defaults to the contentType of the containing form.

If there is agreement, we would need an additional row in the table in 5.2 for `contentType` in Context `ExpectedResponse`.

[2019-05-04 13:24] mkovatsc opened #612 "Misleading assertions for security"
I just stumbled over the following:

I think this is outdated, as we have “securityDefinitions” at the top level and only activate through “security” at lower levels.

Please confirm, I will then fix this in my PR #610

[2019-05-04 13:42] mkovatsc opened #613 "Make security scheme identifiers more visible"
Security schemes are defined by a vocabulary term the is quite hidden in the introduction text for each scheme:

As this is such an important part, please make it more visible and more prominent than in parentheses:

[2019-05-04 13:46] mkovatsc commented on #612
I now think this is an editorial issue because the word "definitions" is used to actually mean the `security` activation set. I will fix this in #610.

[2019-05-04 13:57] mkovatsc commented on #612
New text:
<p>
  Security configuration in the TD is mandatory.
  <span class="rfc2119-assertion" id="td-security-overrides">
  Security definitions MAY also be activated at the form level by including a
  <code>security</code> member in the form object,
  which overrides (i.e., completely replace) all definitions activated at the Thing level.
  </span>
  <span class="rfc2119-assertion" id="td-secu

[2019-05-04 15:22] vcharpenay commented on #576
it seems `unit` should be included in the core TD vocabulary. The term has no formal semantics, contrary to `om:unit_of_measure`, it is for informational use only. I'll take care of clarifying the text.

[2019-05-04 16:12] mkovatsc opened #615 "Serialization assertions in Section 5"
Section 5.3.1.1 contains the following assertions, which partially conflict with serialization assertions in Section 6. Furthermore, the description for the `@context` term does not really match what we do:

We use it to define a specific context file, include other namespaces that must have a prefix, and to set the default language...

Misses the string-only type. Does not fit the `@context` term

[2019-05-04 16:48] mkovatsc commented on #612
@mmccool Please check if the new assertions of PR #610 match your expectation for the security configuration.

[2019-05-04 21:22] sebastiankb commented on #556
After discussion with @mkovatsc we should keep a well known fix op list. Otherwise there is a danger that you will never stick to it and define your own op values.  This would also have a negative impact on the WoT API.

[2019-05-04 21:22] #556 closed

[2019-05-04 21:44] sebastiankb commented on #593
to speed up, I fixed the issues in the PR #641
@mlagally can you make a review?

[2019-05-04 23:42] mkovatsc opened #617 "Allow array for response in From class?"
Originally, I expected that all possible responses can be described through the `response`(s) vocabulary term.

A use case is where the input of an Action might select the representation format (e.g., RAW vs JPEG vs PNG), and hence multiple responses are possible.

Furthermore, it might be an extension point to also describe expected error responses out-of-band in the future (i.e., to retrofit hyp

[2019-05-04 23:51] mkovatsc opened #618 "Modify list of formats in token SecurityScheme to allow for extensions"
There is a `format` term for two security schemes, which has a default value. That `format` is, however, different from the DataSchema format.

In DataSchema, `format` must be optional.

[2019-05-05 00:22] mkovatsc commented on #521
No arguments were presented why to keep this term. It has no functional purpose, as the ability to observe must be provided through the form hypermedia control.

[2019-05-05 00:31] mkovatsc commented on #521
One option would be to keep it with an updated definition:

However, we once had the term `stability`, which is basically an improved version of `observable`, as it provides a numeric value on which more fine-granular decisions can be made. This is useful in constrained environments, where only a limited number of Properties can be made observable.

Thus, the over option is to replace it with a `s

[2019-05-05 02:21] mkovatsc commented on #607
Fixer by #610

[2019-05-05 05:23] mmccool commented on #612
Yes, I agree with this update.  "Activation" is a better term here than "definition".

[2019-05-05 05:26] zolkis commented on #521
That is fine.

That looks like a scaled/translated version of how often a value might change, which would be mean of the change `frequency`.  If we specify `stability`, we should also specify the algorithm to compute it (based on change frequency).

[2019-05-05 06:10] mmccool commented on #598
So, after reading over the section noted in string-meta, I think the "don't start with a number" issue is not actually a problem if we state that the base direction is ALWAYS inferred from the script sub-tag.  There are cases however where numbers with embedded spaces are displayed in the wrong order but this seems to be a problem with all encodings.  However, I noticed an additional problem: we h

[2019-05-05 06:14] mmccool commented on #598
The Thing "name" is also troublesome.  I assume this is meant to be human-readable text, eg for display on web dashboards, and is not meant to be unique (we have the id for that).   So I'm assuming that we should apply the base direction to it.

However, there is no "names".   As a separate issue (which I will file), I think there should be, so that when language negotiation is used a name in an a

[2019-05-05 06:23] mmccool commented on #598
Also, Matthias, you are saying the default base direction should be RTL.   I think this should be the default only if no `@language@ tag is present in the enclosing context.   If it is, then the base direction should be inferred from the script subtag used in `@language` (which may inferred in the case of languages with only one script).

I'd LIKE to specify the default language if no `@language`

[2019-05-05 06:43] mmccool commented on #598
Apparently there was a "names", but it was taken out recently: https://github.com/w3c/wot-thing-description/issues/464.  The justification was there didn't really seem to be a need for it.   Well... I will just reopen that issue and cite this one.

[2019-05-05 06:44] mmccool commented on #464
I think we DO need "names".  See https://github.com/w3c/wot-thing-description/issues/598

[2019-05-05 06:52] mmccool commented on #596
See PR https://github.com/w3c/wot-thing-description/pull/619.

[2019-05-05 08:27] mmccool commented on #615
OK, I see we do talk about '@language' here.   However, I think in order to deal with the details of this we need to add a "Default Language" section to the Context Extension section.   So I will move this assertion to that section in my PR addressing this issue.

[2019-05-05 08:55] mmccool commented on #615
Ack, never mind, I see in PR https://github.com/w3c/wot-thing-description/pull/610 you took out the assertions from section 6.2.1.   OK, in that case, I will add the text direction stuff to section 5.3.1.1.

[2019-05-05 10:03] mmccool commented on #598
See PR https://github.com/w3c/wot-thing-description/pull/620.

[2019-05-05 12:51] mkovatsc commented on #615
We can discuss where it should go. The main point is, that we need to coordinate this, as at the moment, we mixed model with serialization assertions.

We could put all of this in "6.2.10 title(s) and description(s)" -- maybe even rename it to "Human-readable Metadata" and make it 6.2.2, directly after "Thing Root Object", to have a clear section for i18n implications.

[2019-05-05 12:55] mkovatsc commented on #612
Good, since two editors agree, we should move on and merge #610. We still have work to do :)

[2019-05-05 12:59] mkovatsc commented on #600
@sebastiankb marked the section "non-normative". We can close this.

[2019-05-05 12:59] #600 closed

[2019-05-05 13:29] mkovatsc commented on #598
I wrote LTR -- left-to-right -- as default default, maybe you meant that as well.

We do not have to do this. We only define the default direction to LTR when no `@language` or out-of-band information is available.

I understand https://www.w3.org/TR/string-meta/#script_subtag as follows:

1. Start with default direction (LTR for us)
2. Infer direction from the language tag if provided (the langua

[2019-05-05 13:31] mkovatsc commented on #598
The `name` is an identifier that needn't be unique across Things. However, there should be only one name for a Thing. Thus no `names`. I assume that the name can usually be changed by the user. It underlies the default language.

[2019-05-05 13:59] mkovatsc commented on #300
Indeed, but I am okay with the latest, simplified concept for `securityDefinitions` and `security`. I guess we can gather more experience in the wild how to ideally declare the minimum set of security mechanisms to successfully interact with the Thing. I provided the following sentence in the serialization section:

@mmccool I think the ontology has been updated, hence I propose to close this issu

[2019-05-05 14:06] mkovatsc commented on #349
I checked Section 5 and most all terms highlighted as red code are Vocabulary Terms. We could change the color of the XSD data types and maybe other terms I overlooked, which are not defined by us.

I propose dark blue.

[2019-05-05 14:10] mkovatsc commented on #384
I think this is already taken care of by providing "preview" examples in the Introduction section.

[2019-05-05 14:12] mkovatsc commented on #407
We have a very clear "Assignment" column in the tables.

[2019-05-05 14:22] mkovatsc commented on #442
We clarified this during the call with Ralph and PLH, @vcharpenay implemented the change accordingly, and it was merged.

[2019-05-05 14:25] mkovatsc commented on #586
Is enforcing UTC only really necessary when there is timezone support in the format? Does not feel user-friendly...

[2019-05-05 14:26] vcharpenay commented on #292
well, in ECMAScript, property keys can be any ECMAScript string. In the JSON TD serialization, the restriction is the same, since JSON is based on ECMAScript.

[2019-05-05 14:28] mkovatsc commented on #587
Section 5 defines `@context` only within the `Thing` class. To me, this means TDs do not allow embedded contexts and raw JSON processors would not be prepared for it.

The current text also says that only one default language can be encoded in the top-level `context`.

To me, this is a good and simple solution. I propose closing.

[2019-05-05 14:33] mkovatsc commented on #464
The `name` is an identifier that needn't be unique across Things (unlike `id`). However, there should be only one name for a Thing. Thus no `names`. I assume that the name can usually be changed by the user. It underlies the default language.

[2019-05-05 14:35] #609 closed

[2019-05-05 14:43] #557 closed

[2019-05-05 14:54] #552 closed

[2019-05-05 14:59] sebastiankb commented on #501
https://w3c.github.io/wot-thing-description/#example-30 has now an updated example with ACE.

[2019-05-05 15:02] #612 closed

[2019-05-05 15:03] #596 closed

[2019-05-05 15:14] mkovatsc opened #621 "change the order of the terms in the Form class table"
`op` is only defined as string, but must be string or array of string.

BTW: can you change the order of the terms in the table? Would be nice to align with https://w3c.github.io/wot-architecture/#sec-hypermedia-forms and have:

* op
* href
* contentType
* contentCoding
* subprotocol
* security
* scopes
* response

[2019-05-05 15:31] sebastiankb commented on #546
in the TD call we preferred the Dublin Core approach since it is more _compact_. This is also the reason to stay with `created`

[2019-05-05 16:26] sebastiankb commented on #621
bug is fixed. Order is still open @vcharpenay are you taken care of it?

[2019-05-05 16:27] sebastiankb commented on #554
http and forms do not use endpoints anymore

[2019-05-05 17:33] mkovatsc commented on #605
#623 was merged

[2019-05-05 17:33] #605 closed

[2019-05-05 17:34] mkovatsc commented on #615
See also review of #620

[2019-05-05 17:35] #607 closed

[2019-05-05 18:19] sebastiankb commented on #568
there doesn't seem to be a problem for the TD specification itself, but rather for the scripting API. Or do I misunderstand something?

[2019-05-05 18:23] sebastiankb commented on #563
the latest polished TD version should be in sync with Arch and have no words used such as retrieving

[2019-05-05 18:27] #442 closed

[2019-05-05 18:28] #407 closed

[2019-05-05 18:29] #384 closed

[2019-05-05 18:35] sebastiankb commented on #587
agreed with @takuki we can close this issue.

[2019-05-05 18:35] #587 closed

[2019-05-05 19:04] sebastiankb commented on #535
I asked @takuki, this issue is already addressed and can be closed.

[2019-05-05 19:04] #535 closed

[2019-05-05 19:54] mkovatsc commented on #618
We might want to consider to rename `format` in the two security schemes.
Also we should consider including CWT: https://tools.ietf.org/html/rfc8392

[2019-05-05 20:24] sebastiankb commented on #617
Theoretically, it is possible to set up different form instances with different combinations of _input_ contentType and _response_ contentType.
I know, this may lead to complex TDs.
I do not have a hard opinion on that.

[2019-05-05 20:28] sebastiankb commented on #611
I would propose to have such an entry in the table + a separate assertion explaining that the default value of the response contentType is always the same as that specified by the contentType in the Form class.

[2019-05-05 20:37] #602 closed

[2019-05-05 20:37] sebastiankb commented on #602
thanks

[2019-05-05 20:56] sebastiankb commented on #599
The examples should just show that there is this context extension feature in the TD. I think the title is enough for that. Further details are described in the paragraph above.

[2019-05-05 21:31] sebastiankb commented on #477
after chatting with @mkovatsc  there is not really a need to have an example in the TD spec since there will be not a useful usecase in the TD.

[2019-05-05 21:49] mkovatsc commented on #618
I would recommend to rename to `token`, so there is no conflict with JSON Schema's `format`.

Also, we could fix the description:

[2019-05-05 21:57] sebastiankb commented on #547
Numbering such as examples 3-30 are auto generated href IDs from ReSpec. The others are human-made.

[2019-05-05 22:02] sebastiankb commented on #468
is your proposal to use the <code> environment?

[2019-05-06 03:53] mkovatsc commented on #393
Victor added a formal model in a recent PR. There are some minor fixes open, see comments in PR #626

[2019-05-06 05:23] mkovatsc commented on #547
This issue is about the manually assigned id, which becomes the fragment identifier in the link.

[2019-05-06 05:30] mkovatsc commented on #608
After @vcharpenay 's revision, it is now a "name-value pair" that is serialized as JSON member. This much better than the mismatched term "vocabulary term" and it avoids the conflict of "property".

Addressed my issue.

[2019-05-06 05:30] #608 closed

[2019-05-06 06:07] egekorkan commented on #547
In this case, why not use the auto generation for all the examples?

[2019-05-06 06:14] egekorkan commented on #468
I haven't understood what this means but I had done the fixes with `<code>` tags like in `<code>EventAffordance</code>`

[2019-05-06 07:13] sebastiankb commented on #547
since there is a change in the ReSpec script almost every day and we don't know if the ID pattern is changed. i want to prevent us from running into broken links.

[2019-05-06 07:16] sebastiankb commented on #468
I missed the code term...

[2019-05-06 08:15] jmcanterafonseca commented on #599
could it be "Thing Description with context extension using SAREF" ?

[2019-05-06 08:24] jmcanterafonseca commented on #618
could it be `tokenFormat`

[2019-05-06 08:30] vcharpenay commented on #618
This has just been fixed. You may want to rename the issue to mention it's a security topic.

[2019-05-06 08:38] jmcanterafonseca commented on #546
ok, fair enough

[2019-05-06 08:47] jmcanterafonseca commented on #550
it seems this is fixed in latest version of the JSON Schema

[2019-05-06 08:49] egekorkan commented on #552
I actually really liked this note and I have tried to find something similar in Thing Description and Architecture document but haven't managed to do to so. I think putting such an explanation would strengthen why `id` is a mandatory term.

[2019-05-06 09:16] egekorkan commented on #563
The word retrieving is still there as of 06.05 11:16 am at 5.3.1.3 PropertyAffordance:

[2019-05-06 09:52] jmcanterafonseca opened #627 "`ThingDescription` term shall be defined in the @context and be the @type of TDs?"
We need in the `@context` the term `ThingDescription` so that we can label Thing Descriptions JSON-LD documents with the proper `@type`

BTW, I'm wondering whether the type of Device the Thing Description is describing should be defined in the root "@type" as suggested by example 2 (https://w3c.github.io/wot-thing-description/#thing-description-full-serialization) or should it be conveyed using ot

[2019-05-06 12:06] mlagally commented on #593
@sebastiankb I'm not happy that the Thing template example has been removed.
It adds value and shows how the templates can be applied and how several templates can be used by a thing.
If there is some syntax problem in this example that needs to be fixed, let's rather do that and not drop it completely. I will create a PR.

[2019-05-06 12:11] egekorkan commented on #550
Can be closed?

[2019-05-06 12:23] mmccool commented on #300
I propose NOT closing this issue, since I really want to consider it for the next iteration.  Reopening.

[2019-05-06 13:12] egekorkan opened #628 "Inconsistency on accepted values for @context"
In the spec, there are multiple values for the `@context`. Below are the different ones:
* 5.3.1.1 Thing, below the table; Example 5: The mandatory context definition of the string "https://www.w3.org/2019/wot/td/v1" MUST be the first item in the @context array. ( I think that this is a bug, there shouldn't be a `wot`)
* Example 1 and 2 and pretty much everywhere: "@context": "https://www.w3.org/2

[2019-05-06 13:15] jmcanterafonseca commented on #550
yep, fixed!

[2019-05-06 13:15] #550 closed

[2019-05-06 13:20] egekorkan commented on #549
A tested version with draft 7 is found here: https://github.com/egekorkan/wot-thing-description/blob/master/validation/td-json-schema-validation.json

[2019-05-06 14:10] mkovatsc commented on #627
No, Thing Descriptions are representations of Things, hence they have the `@type` `Thing`, which exists in the TD code vocabulary.

[2019-05-06 14:21] jmcanterafonseca commented on #627
ok, but ...

is example 2, https://w3c.github.io/wot-thing-description/#thing-description-full-serialization, then correct? are you assuming that anything in SAREF is a subclass of wot:Thing?

[2019-05-06 14:29] mkovatsc commented on #628
It rather says the JSON Schema needs to be made more restrictive

* the URI is used as an identifier of the format version, hence no flexibility
* with www
* with year (Alternative Namespaces are for the Vocabularies, not the context file)
* http vs https is still open for the Namespace IRIs, as we saw both practices (SSN with http, verifiable credentials with https)
* for the context file, it sho

[2019-05-06 14:33] mkovatsc commented on #627
Makes sense to me, as you need "saref:isAbout" to point from a ThingDescription to "saref:LightingDevice". Since TDs directly represent Things, there should be no conflicts for classes that define SAREF Devices. Anything in SAREF goes to far, I would say.

@vcharpenay made a proper analysis.

[2019-05-06 14:35] mkovatsc commented on #618
But it is fixed anyway, no?
Do we need to decide between tokenFormat and token? I prefer shorter.

[2019-05-06 14:41] sebastiankb commented on #628
Regarding https vs http and www & without www I just tested the existing `w3.org/ns/td` with postman and all variations returned the same document:

- http://w3.org/ns/td
- https://w3.org/ns/td
- https://www.w3.org/ns/td
- http://www.w3.org/ns/td

[2019-05-06 14:42] jmcanterafonseca commented on #618
token could be misleading, we are referring to the token format not to the token itself

[2019-05-06 14:52] mkovatsc commented on #618
Also true... :)

[2019-05-06 15:09] sebastiankb commented on #563
you are right, however, this is aligned with the Architecture document (see https://w3c.github.io/wot-architecture/#terminology)

[2019-05-06 15:09] #563 closed

[2019-05-06 15:09] #568 closed

[2019-05-06 16:29] egekorkan commented on #628
I agree with this, whether they return the same document can depend on the configuration of the Web server/DNS

[2019-05-06 17:34] mkovatsc commented on #593
The whole mechanism of how to combine and reference Templates is very sketchy. It is valid to define them and to use them as input to ultimately produce a well-informed TD document. How this is done exactly is implementation-specific for now, as we are far from implementation experience and a consensus. The approach indicated in the previous example was technically wrong.

[2019-05-06 21:06] mkovatsc commented on #300
What you mean is "Next TD version" ;)

[2019-05-06 21:11] mkovatsc commented on #115
Let's focus on the JSON Schema compatibility. I would say this is given, as TD data schemes can be used directly as input for JSON Schema validator implementations. We currently still have not all your terms modeled, but adding vocabulary terms is easy, also at later stages :)

[2019-05-06 21:16] mkovatsc commented on #351
There is a new Webhook Event example.

[2019-05-06 21:18] mkovatsc commented on #393
My issue is addressed. A more graph/tree oriented definition of the model could have been nice, but well... closing.

[2019-05-06 21:18] #393 closed

[2019-05-06 21:28] mkovatsc commented on #553
The PSK identity is used to indicate which PSK to use. I do not see this reflected by the cryptic new description. It sounds even like the identity would hold the credentials for gaining access...

[2019-05-06 21:31] #546 closed

[2019-05-07 04:39] mmccool commented on #300
OK, wrong tag; good that is resolved.

[2019-05-07 04:45] mmccool commented on #618
We have several other terms in SecurityScheme that overlap with other terms elsewhere.   In general these terms are defined contextually, eg the terms used in SecurityScheme override those used outside.  There are several other places (not only in SecurityScheme) where terms and their defaults are defined contextually, so if we worry about this here, should we also change all other terms that are

[2019-05-07 04:45] mmccool commented on #618
In general, at this late date, I would lean towards "if it ain't broke, don't fix it".

[2019-05-07 04:50] mmccool commented on #615
In my language text-direction PR () I dealt with some of this.   I left certain assertions in the Thing section (rules for inferencing text direction from the default language), added some assertions to MultiLanguage, and moved some assertions specifically having to do with serialization to Section 6 (the assertion I added that strings should be processed separately and that protocol negotiation m

[2019-05-07 04:56] mmccool commented on #598
OK regarding names.   My concern is that if the default language is changed, for example as part of HTTP negotiation returning text for title and description using an alternative language, then the interpretation of these will get broken.   I still think "support" is an issue but for now I have lumped it in with "name" (by adding it to the list of human-readable metadata in Section 6) in that it s

[2019-05-07 04:59] mmccool commented on #598
Perhaps in a future TD version we can have an alternative mechanism for specifying a language explictly for "name" and "support" that overrides the default language.   That would be the right way to fix this, I think.

[2019-05-07 05:05] mmccool commented on #598
Sigh.   Well, let me make an issue for "supportLanguage".   Maybe we can get it in.

[2019-05-07 05:10] mmccool opened #630 "Human-readable "name" has i18n problem - rely on "title"/"titles" in Thing instead?"
If the default language is changed, for example as part of HTTP negotiation returning text for title and description using an alternative language, then the interpretation (and potentially display, eg in a web dashboard) of "name" and "support" (in case the value of "support" is a person's name, for example) will get broken if "name" and "support" are written using a language with a text direction

[2019-05-07 05:17] mmccool commented on #630
Another way to deal with this (which might be more JSON-LD-ish) would be to allow a nested context for "name" and "support".   However this is tricky since there is no convenient object scope to add it to.

Yet another way to do this would be allow the values of "name" and "support" to be either strings OR MultiLanguage objects with explicit language tags, eg.
[code]
but this has the problem that

[2019-05-07 05:30] mmccool commented on #618
Also, "token" is taken (it is the URL of the token server in OAuth).

[2019-05-07 05:34] mmccool commented on #618
A final consideration is that "format" is consistent with OpenAPI.  However, we already break consistency in several other ways, for example, by using "token" instead of "tokenURL" since I wanted to avoid "URL".   Still...

[2019-05-07 06:57] sebastiankb commented on #628
I would simple go for https://www.w3.org/2019/td/v1 as announced in the TD spec and define this in the JSON Schema.

[2019-05-07 07:50] sebastiankb commented on #628
I fixed the namespaces errors (https://www.w3.org/2019/wot/td/v1 --> https://www.w3.org/2019/td/v1) in the spec

[2019-05-07 07:53] mmccool commented on #598
I created a modification of my text-direction PR to define "supportLanguage": https://github.com/mmccool/wot-thing-description/pull/8
This is actually a PR against the branch used to create PR https://github.com/w3c/wot-thing-description/pull/620.   So if we decide to do this, I should merge the PR for supportLanguage first in my own repo, then merge PR620.

[2019-05-07 07:57] egekorkan commented on #351
I find the example very good, it even emphasizes writeOnly/readOnly mechanism. Thank you @mkovatsc

[2019-05-07 07:57] #351 closed

[2019-05-07 07:58] mmccool commented on #630
PR available: https://github.com/mmccool/wot-thing-description/pull/8.
This is currently set up as a modification of PR https://github.com/w3c/wot-thing-description/pull/620.

[2019-05-07 08:04] mmccool commented on #615
I now also have a separate PR (well, a PR on a branch used for another PR) to deal with the annoying special case of the default language for "name" and "support" potentially having to be different than that for "title" and "description".   See notes under https://github.com/w3c/wot-thing-description/pull/620

[2019-05-07 08:06] mmccool commented on #585
See PR https://github.com/w3c/wot-thing-description/pull/620, which if accepted should clear up the issues around text direction for human-readable metadata.

[2019-05-07 08:13] sebastiankb commented on #630
name should be kind of identifier and there should be no language variations.
I understand the purpose to provide language information for the support term. We should rethink to type the support term as anyURL again and use scheme like [mailto](https://tools.ietf.org/html/rfc6068). What do you think?

[2019-05-07 08:18] mkovatsc commented on #617
I would change the Form class definition, so that the Type for `response` says "ExpectedResponse" or array of "ExpectedResponse".

Otherwise, it only supports a subset of the targeted use cases.

[2019-05-07 08:19] mkovatsc commented on #617
A test is easily done through the takeSnapshot Action, where input can also specify the output format / media type.

[2019-05-07 08:24] mkovatsc opened #631 "Tables in Section 5 should use proper Type terms"
The column "Type" currently talks about "array" and "map".

We have proper definitions of these terms, hence it should use "<a>Array</a>" and "<a>Map</a>".

[2019-05-07 08:27] sebastiankb commented on #631
I will take care of it

[2019-05-07 08:41] egekorkan commented on #628
In that case if there are not objections, I am constraining the schema to accept only ` https://www.w3.org/2019/td/v1 `

[2019-05-07 08:45] mkovatsc commented on #630
This feels like classic overengineering to me.

I would define the "name" field as a (non-unique) identifier in the default language.
Restricting supprot to anyURI is also good, as people can still be given as mailto URI.

[2019-05-07 08:48] mkovatsc commented on #618
Considering CWT is becoming more popular, I would remove the default values for token format. We can then leave it as "format" as well.

[2019-05-07 08:49] mkovatsc commented on #627
@vcharpenay can you quickly comment on the compatibility of the Thing class with SAREF Device classes? If that is given, I propose to close this issue.

[2019-05-07 08:52] egekorkan commented on #628
If the PR#632 is merged this issue can be closed given that @sebastiankb has also fixed the inconsistency with having `wot` in the uri or not

[2019-05-07 08:53] mkovatsc commented on #615
See comment in #630 -- please avoid this complexity.

In general, the split between Section 5 and 6 assertions looks good now.

[2019-05-07 09:04] egekorkan commented on #388
As I was not in the TD call I don't know what is the last state of the discussion. There is no mention of this issue in the minutes either. Should I create the extra assertions or was there a decision to not do this?

[2019-05-07 09:05] sebastiankb commented on #631
done

[2019-05-07 09:08] egekorkan commented on #464
I also think names gives a bad impression that the Thing can have multiple names even though they are used only for different languages. Also, this would be a rather big update in the current stage. Should we close this issue?

[2019-05-07 09:09] egekorkan commented on #547
I will close this issue

[2019-05-07 09:09] #547 closed

[2019-05-07 09:38] sebastiankb commented on #564
text is updated for Form. also see
https://github.com/w3c/wot-thing-description/commit/da0f65504449d0c790d7e05de3512bd69549e64f

[2019-05-07 10:06] mmccool commented on #464
I have been talked around to Matthias' view that the name should not change and that there should not be multiple names.  But this raises another issue that the language (and text direction) cannot change if the default language changes i.e. as part of a protocol negotiation.  I have proposed a fix for this latter problem (which is definitely a corner case, but we should cover it).   The fix also

[2019-05-07 10:20] mkovatsc commented on #631
Looks good, closing.

[2019-05-07 10:20] #631 closed

[2019-05-07 10:28] mkovatsc commented on #599
@jmcanterafonseca , are there hard feeling for this? (e.g., for marketing SAREF :P )
Otherwise I would close.

[2019-05-07 11:12] egekorkan commented on #593
@mlagally I had actually find this way of combining the templates an interesting idea but as @mkovatsc has mentioned it is implementation-specific and there is not enough experience ( I am aware of the idea for a long time but I haven't seen any uses of it in the Plugfests for example ). The hint that this is possible is left as the final bullet point _combining multiple models into a Thing. _  an

[2019-05-07 11:15] egekorkan commented on #464
Ok we can follow up on the PR as well

[2019-05-07 11:15] #464 closed

[2019-05-07 11:25] mmccool commented on #630
Yes, but the point is the default language can *change* due to content negotiation, which will screw up rendering.   Anyhow, I've just prepared a PR and we can decide to use it or not.   But it's a potential problem that could easily arise in multilanguage contexts.   And we can fix it.   Or not.

[2019-05-07 11:36] mkovatsc commented on #630
Oh darn, got it! When dynamically generating a TD for a certain language, that language might be different from the name chosen...

[2019-05-07 11:54] mlagally commented on #593
We are mixing several aspects in this discussion:

1. should templates have a (unique) id?
Yes, this is required to make sure that it is easy to identify two things that implement the same template.

2. Template examples in the plug-fests
The Oracle device models use a template mechanism. Since the plug fest members so far were implementing only single devices, we did not elaborate on that. In rea

[2019-05-07 12:00] mkovatsc commented on #598
We somehow have a lot of issues related to this... I would like to simplify for this version of WoT TD. We can do so by defining `support` as anyURI; it can still identify a person by their e-mail address (mailto URI), which is even better than "John Smith" strings. Furthermore, supportLanguage, in me, raises the notion of being able to provide support (in the bigger sense) only in one language...

[2019-05-07 12:03] egekorkan commented on #564
I have realized that copying from wot-architecture doesn't solve the problem since not everything is defined in wot-architecture's [terminology](https://w3c.github.io/wot-architecture/#terminology). This means that somethings are copied from the paragraphs such as Form and Link.

Furthermore, some terms such as version do not exist in architecture at all. This results in the inconsistency I have m

[2019-05-07 12:16] mkovatsc commented on #593
1. This must then be something like `templateId`. I am not aware of any Vocabulary definitions for Thing Templates.
2. Oracle uses their vendor-specific "Device Models". The Protocol Binding for Oracle that I implemented uses Thing Descriptions with a custom field that points to an Oracle Device Model, not a Thing Template.
3. To my understanding, the section was for informationally documenting ho

[2019-05-07 12:43] mkovatsc commented on #564
I am going through and list here, where I think we need changes:
* versionInfo: Carries version information about the TD instance.
  * Metadata of a Thing that provides version information about the TD document.
* DataSchema: A JSON specification.
  * Urrgh...
  * Matadata that describes the data format used. It can be used for validation.
* *Schema
  * Generally, we should decouple from JSON a bi

[2019-05-07 12:49] vcharpenay commented on #564
it is not an issue to put markup directly in the Turtle file. There is even the RDF datatype `rdf:HTML` for that.

[2019-05-07 13:01] sebastiankb commented on #630
we should drop `name` and introduce `title` (mandatory) and `titles`

I know it is big change

[2019-05-07 13:13] mkovatsc commented on #630
Yes, a big chance at this point, but I also think we need to, as it is basically an i18n issue.

We stuck to `name` because we thought it is just a "simple string" that can be used as informal identifier. Yet we also have the strong expectation, that this name will be used in UIs. This has a clear i18n requirement. `title` and `titles` address this this requirement.

Introducing `names` does not m

[2019-05-07 13:15] mkovatsc commented on #630
@mmccool , can we agree on dropping the supportLanguage feature and rename this issue to reflect the issue with a non-internationalized name?

[2019-05-07 13:17] mmccool commented on #630
Sure, can drop supportLanguage; using title/titles seems like a good solution to me, as well as making "support" an anyURI.   I can include both those changes in my PR, but I'll have to do it tomorrow (it's very late in the evening here and I'll screw it up if I do it now).

I will update the title of this issue.

[2019-05-07 13:19] mmccool commented on #630
Title changed.   Sorry it's so long, I'm out of brain cells right now.

[2019-05-07 13:21] mmccool opened #633 "Make value of "support" an anyURI"
This avoids some annoying i18n issues upon language renegotiation.   Specifically, if "support" can be in any language, but the default language is changed due to content negotiation, then the wrong text direction might end up getting used when it is displayed.

If we make this a URI then not only is it clearer what to do with it, the endpoint of the link can deal with content negotiation issues.

[2019-05-07 13:21] mmccool commented on #630
Created this, too: https://github.com/w3c/wot-thing-description/issues/633

[2019-05-07 13:26] mkovatsc commented on #633
FYI, people and phone numbers can still be indicated using `mailto:` and `tel:` URIs.

[2019-05-07 13:28] mmccool commented on #633
Sure.   I'm just saying they don't HAVE to.   Anyhow, a URI is cleaner.
Let's resolve that I will add this to PR https://github.com/w3c/wot-thing-description/pull/620.   First thing tomorrow (well before the editor's call, though).

[2019-05-07 13:29] mkovatsc commented on #630
Can we collect +1s for going for `title` and `titles` in Thing?

I am in favor (see https://github.com/w3c/wot-thing-description/issues/630#issuecomment-490073919)

[2019-05-07 13:30] mkovatsc commented on #633
I think @sebastiankb or @vcharpenay can take over the anyURI part.
Can you focus on finishing the PR?

[2019-05-07 13:32] mmccool commented on #633
Actually, PR https://github.com/w3c/wot-thing-description/pull/620 is done and can be merged as far as I am concerned.   It does not have any mention of "supportLanguage" since I have not merged the sub-PR.
So... why don't you merge it, then take over making these changes?   I am happy to give you the pen at this point.

[2019-05-07 13:35] mkovatsc commented on #633
Sorry, last question in #620 ! Please see there.

[2019-05-07 13:40] mmccool commented on #633
OK, I think I answered the last pending question and resolved the last review comment (well, marked it resolved; it was actually about THIS issue)

[2019-05-07 13:53] mmccool commented on #630
Re title/titles in Thing: +1, in favor.

[2019-05-07 14:36] mkovatsc commented on #468
Also see #613

[2019-05-07 14:51] mkovatsc commented on #521
@sebastiankb could you at least update the description for `observable`?

to

A hint whether Servients hosting the Thing and Intermediaries should provide a Protocol Binding that supports the `observeproperty` operation.

[2019-05-07 15:09] egekorkan commented on #630
title/titles in Thing: +1

[2019-05-07 15:12] jmcanterafonseca commented on #599
@mkovatsc intention was not to promote SAREF specifically :), but to promote semantic annotation as a way of showing the potential of TDs ... having said that you can close or add somehow the "semantic annotation" slogan to the example title :)

thx!

[2019-05-07 15:19] mkovatsc commented on #615
#620 merged, issue addressed.

[2019-05-07 15:19] #615 closed

[2019-05-07 15:26] takuki commented on #630
+1 regarding renaming "name" to "title" plus "titles", and also +1 for changing type of "support" to anyURI.

[2019-05-07 16:12] egekorkan commented on #613
I agree with this proposal and will implement it in #634

[2019-05-07 16:20] mkovatsc commented on #630
FYI: We are not renaming, we are kicking `name` with its identifier definition and allow `title` and `titles` as they exist already now also in Thing.

[2019-05-07 16:20] aphillips opened #635 "No mechanism to indicate what the "default language" of a description is [I18N]"
Section 5.2.1 "Thing"
https://cdn.staticaly.com/gh/w3c/wot-thing-description/TD-TAG-review/index.html?env=dev#thing

The optional field `description` is described as above, but there appears to be no mechanism defined for declaring what language the "default language" is. It is possible that the JSON-LD `@context` mechanism could be used to supply an `@language` for a description. If that is the p

[2019-05-07 16:20] egekorkan commented on #564
@mkovatsc thank you for the summary of (hopefully) everything I had notived. I have started to work on the fixes. A couple of questions.

I have no idea where this is set but I am guessing that the render script orders alphabetically?

I sort of agree, we are not configuring security at that point, it is a "security possibility" or description as you wrote. I will be implementing your request if i

[2019-05-07 16:22] aphillips opened #636 "(editorial) content type examples may be misleading"
5.2.3 Form
https://cdn.staticaly.com/gh/w3c/wot-thing-description/TD-TAG-review/index.html?env=dev#form

The type `application/json` does not take a `charset` parameter. I realize that it is just an example and we do want to encourage UTF-8 for media types that require a charset, so perhaps no change should be made.

[2019-05-07 16:23] aphillips opened #637 "Multilanguage section clarity [I18N]"
5.2.6 Multilanguage
https://cdn.staticaly.com/gh/w3c/wot-thing-description/TD-TAG-review/index.html?env=dev#multilanguage

Two editorial notes:

* `declared` is misspelled

* The text _Each used language tags code MUST be decleared as vocabulary term member of this container (e.g., en, de, ja, zh-Hans, zh-Hant)_ is somewhat unclear. I would suggest:

By the way, thank you for showing an example la

[2019-05-07 16:27] aphillips opened #638 "Clarify about language negotiation [I18N]"
5.2.6 Multilanguage
https://cdn.staticaly.com/gh/w3c/wot-thing-description/TD-TAG-review/index.html?env=dev#multilanguage

It's not clear to me what this text intends should happen. While HTTP provides the `Accept-Language` header to assist with language negotiation and indeed some systems do use this header to perform language negotiation, there is no specific standard here. I think the intention

[2019-05-07 16:28] aphillips opened #639 "DataSchema format field and patterns [I18N]"
5.3.1 DataSchema
https://cdn.staticaly.com/gh/w3c/wot-thing-description/TD-TAG-review/index.html?env=dev#dataschema

The field `format` has the above description. This spec doesn't particularly define what kind of pattern can go into it, but it should be noted that some of these (including `date/time`) have I18N implications. I'm raising this issue here, even though I don't propose making any spec

[2019-05-07 16:29] aphillips opened #640 "Thing Description Serialization and BOM [I18N]"
6. Thing Description Serialization
https://cdn.staticaly.com/gh/w3c/wot-thing-description/TD-TAG-review/index.html?env=dev#sec-td-serialization

This section requires (`MUST`) that the serialized form use UTF-8 (yay!) and requires (`MUST`) that the file not start with a Byte Order Mark (U+FEFF BOM) (which is reasonable). It then goes on to permit ignoring BOM. Should this be increased to SHOULD?

[2019-05-07 16:30] mkovatsc commented on #611
The current solution has the following problem:
There is a (fixed) Default Value for `contentType` in `reponse`. However, in the absence of `response`, we expect `contentType` in `reponse` to equal `contentType` in the Form object. This Default Value for `response` is not defined, as it is also dynamic...

I the following path:
1 Define the Default Value for `contentType` in `reponse` dynamically

[2019-05-07 16:30] aphillips opened #641 "dateTime reference when mapping to JSON types [I18N]"
6.1.1 Mapping to JSON Types
https://cdn.staticaly.com/gh/w3c/wot-thing-description/TD-TAG-review/index.html?env=dev#td-basic-types-mapping

While this is correct, a better reference to this specific format would be [RFC3339]'s `date-time`. This is exactly this format.

Also, the pattern given includes `Z`, which, when it appears as the literal string `Z` means "UTC". But it can also mean that offs

[2019-05-07 16:32] aphillips opened #642 "clarify permitted language tags for titles/descriptions [I18N]"
6.2.10 titles and descriptions
https://cdn.staticaly.com/gh/w3c/wot-thing-description/TD-TAG-review/index.html?env=dev#titles-descriptions-serialization-json

The above text would be clearer with some adjustments:

* I would change "...can be used, both MUST..." to "...are used, each MUST...", on the assumption that these can appear independently from one another.

* The sentence attempting to req

[2019-05-07 16:33] aphillips opened #643 "base direction considerations [I18N]"
(general)
https://cdn.staticaly.com/gh/w3c/wot-thing-description/TD-TAG-review/index.html?env=dev

As discussed in the [teleconference](https://www.w3.org/2019/04/18-i18n-minutes.html), no reference is made to support for bidirectional text values. The I18N WG has recently published a document ([string-meta](https://www.w3.org/TR/string-meta)) and has had a number of issues open against other WGs

[2019-05-07 16:38] mkovatsc commented on #635
Thank you for your review! We have been working hard recently and updated the spec already to document the `@language` mechanism accordingly.

We also added text on the possibility to use content negotiation such as the `Accept-Language` header field of HTTP.

I will cite the assertions in this Issue.

[2019-05-07 16:39] mkovatsc commented on #636
Should be `text/plain`. Thanks!

[2019-05-07 16:43] mkovatsc commented on #637
Thank you! We have already been working hard and have this assertion in the [Editors' Draft](https://w3c.github.io/wot-thing-description/#multilanguage):

[2019-05-07 16:46] mkovatsc commented on #638
Thank you! We have already been working hard and have this text in the [Editors' Draft](https://w3c.github.io/wot-thing-description/#multilanguage):

We will mark it "at risk".

[2019-05-07 16:49] mkovatsc commented on #638
It is not considered an error, hence "SHOULD". The reasoning behind this is that when a concrete language is requested by a client, then the response should not include all supported languages, but only the result of the content negotiation.

[2019-05-07 16:56] mkovatsc commented on #640
The statements are actually taken from [RFC 8259](https://www.rfc-editor.org/rfc/rfc8259.txt) and presented here for convenience. The RFC says

with a MAY.

(At this very moment, tools.ietf.org is down, hence the link to the plaintext version...)

[2019-05-07 17:01] mkovatsc commented on #586
See also https://github.com/w3c/wot-thing-description/issues/641

[2019-05-07 17:06] mkovatsc commented on #641
Thank you, especially RFC 3339 appears useful!

[2019-05-07 17:25] mkovatsc commented on #642
Thank you! We have improved the normative language already a bit and actually improved the split between model (Section 5) and serialization (Section 6).

In Section 5, we already say "well-formed", but still need to make the assertion easier to understand. Your formulations help here.

In Section 6, we need to:
* Make two subsections, one for the default language members, one for the MultiLanguag

[2019-05-07 17:35] mkovatsc commented on #643
We have included new text into the [Editors' Draft](https://w3c.github.io/wot-thing-description/#thing) that is based on [string-meta section 4.5 Script subtags](https://www.w3.org/TR/string-meta/#script_subtag):

We chose this approach, as we are partially prevented to use metadata: no direction support in JSON-LD. I will add the "health warning" and reference to string-meta. I hope your other tw

[2019-05-07 17:54] aphillips commented on #638
A few comments on this:

- "constrained devices may" -> "constrained devices MAY" ?
- "TD documents SHOULD NOT include any MultiLanguage objects" is too restrictive and doesn't perhaps describe what the desired result is. In particular, the fact that a negotiation has taken place does not mean that an exact match has been found or that specific resources were subject to that negotiation. I'd sugge

[2019-05-07 18:00] mkovatsc commented on #639
The `format` actually takes terms from a defined set of identifier strings. I would say, the field does not have the I18N implications, but implementations using this information (e.g., schema validators) might.

http://json-schema.org/latest/json-schema-validation.html#rfc.section.7.3 defines the set of well-known identifier strings.

We should clarify this, but also mark the `format` name-value

[2019-05-07 18:02] mkovatsc commented on #641
Waiting on the discussion in #586 to decide how to address this.

[2019-05-07 18:02] mkovatsc commented on #640
I think we can leave this; no PR needed.

[2019-05-07 18:32] aphillips commented on #642
@mkovatsc BCP47 is a language tagging system built of valid subtags. Of course, many tags are well-formed, valid, and useless (`tlh-Cyrl-AQ-alalc97` aka "Klingon written in Cyrllic as used in Antarctica and transcribed using the Library of Congress 1997 transliteration" :-P). For guidance on which language tags are supported by modern implementations, I would use [CLDR](https://cldr.unicode.org) a

[2019-05-07 18:33] mkovatsc commented on #638
Thanks, some more tweaks:

Preamble:

Then first ensure that the outcome of the negotiation is marked in the document in case it is transferred further:

Ten your nicer statement about the MultiLanguage objects:

And all marked as "at risk".

[2019-05-07 18:33] aphillips commented on #642
I should add... your spec isn't really about language tagging or locale choice or language negotiation. You might want to avoid incorporating a lot of recommendations and such into your spec.

[2019-05-07 18:36] aphillips commented on #638
@mkovatsc Just curious: why is this at risk? Are you concerned that you won't have implementations?

[2019-05-07 18:37] mkovatsc commented on #642
My thinking was that "machine-to-machine people" implementing this might need some more information on the subject :)
Thus, this guidance on which language tags are usually supported by modern implementations might be a good informative reference.

[2019-05-07 18:42] mkovatsc commented on #638
Oh, good that you ask because after so many issues up to now, I read "Note this paragraph *a*s marked "at risk", assuming you want it to be marked at risk.

It currently is marked in yellow, because we do not have positive test results yet -- the markup is automatic based on the test cases, which we already started to implement.

[2019-05-07 18:47] mkovatsc commented on #599
Hmm, valid point -- we have been working too hard on hiding this for those who do not like RDF semantics..
Maybe "Thing Description with context extension for semantic annotations" would do something positive :)

[2019-05-07 18:58] aphillips commented on #638
@mkovatsc Argh. Sorry. That was a note to the I18N group when reviewing the comment. I should have removed it.

[2019-05-07 18:59] mkovatsc commented on #638
No worries! :)

[2019-05-07 22:09] egekorkan commented on #613
I have implemented your proposal in #634 and specifically in commit [9f5ed5b0c1efbba6fb8a08c06f731050ce782fdf at link](https://github.com/w3c/wot-thing-description/blob/9f5ed5b0c1efbba6fb8a08c06f731050ce782fdf/ontology/wot-security.ttl)

@vcharpenay is it ok to put html tags in rdf:comment, this works but I am not sure if it is best practice.

[2019-05-07 22:48] egekorkan commented on #564
I have done the changes in #634  except for "As already discussed with @sebastiankb , the "variables" in the statement need to be highlighted somehow, e.g., by putting into curly braces".

I am still not satisfied with the first sentences of form and link of section 5. It just sounds weird as a first sentence. I have tried to compact it and have a clean first sentence but not sure how to explain `

[2019-05-07 23:06] sebastiankb commented on #521
done

[2019-05-07 23:43] mkovatsc commented on #635
We need need some rewrite of the text after the table in [5.3,1,1 Thing](https://w3c.github.io/wot-thing-description/#thing). I started sketching the new text, statement by statement:

where the value is a namespace IRI of type `anyURI` and the name a Term or prefix defined for that namespace,
while it is RECOMMENDED to include only one Map in the Array that holds all defined name-value pairs.

wh

[2019-05-08 01:10] aphillips commented on #635
While this reflects the current state of affairs in JSON standards-based document formats, it's not a particularly desirable recommendation and the I18N WG is actively working to find a "better path". In addition, I'd point out that "compute the base direction" needs a definition. Therefore I'd suggest that you reference our document [String-Meta](https://www.w3.org/TR/string-meta/), particularly

[2019-05-08 03:22] mkovatsc commented on #599
See #646

[2019-05-08 03:22] mkovatsc commented on #638
See #646

[2019-05-08 03:25] mkovatsc commented on #635
See https://github.com/w3c/wot-thing-description/issues/643#issuecomment-490176535 which is how it continues (indicated by "...continue with the bullet point list")

[2019-05-08 03:27] mkovatsc commented on #633
Looks good.
@egekorkan Maybe you want to update the JSON Schema for "support" in Thing

[2019-05-08 03:39] takuki commented on #639
Clarified format field definition.
Please see the updated draft [here](https://cdn.staticaly.com/gh/w3c/wot-thing-description/f87127b9a195758013e67c649769e33530c26ff0/index.html).

[2019-05-08 04:37] takuki commented on #630
I just made changes so that "titles" is now optional while "title" stays mandatory.
Please take a look at [here](https://cdn.staticaly.com/gh/w3c/wot-thing-description/1a1bc264f3051186f544debf6ea6f6da58356d9e/index.html#thing).

[2019-05-08 05:40] mmccool commented on #642
Yes, a short list of valid language tags for use in IoT and Web systems would be useful.   It would be especially useful to flag cases where a script subtag is necessary to disambiguate text direction (eg. az-Latn vs. az-Arab, which is one example of I know of).   Not something that can be solved today... but maybe something the i18n group could publish as a Note.

[2019-05-08 05:42] mmccool commented on #640
I agree, the i18n comment was just a suggestion, but being consistent with RFC8259 makes more sense.

[2019-05-08 05:44] mmccool commented on #639
I'm working on the at-risk markup right now.   Should I still mark "format" as at-risk?

[2019-05-08 05:49] takuki commented on #639
@mmccool , yes, I think so because there will be a possibility that we may need to consider withdrawing the feature depending on the eventual status of the feature.

[2019-05-08 05:51] mmccool commented on #638
Regarding the updates, these all look good; sorry I was not engaged for them (I need to sleep sometime).

We need to ensure the language in the spec allows protocols OTHER than HTTP to have language negotiation.   I do think the current language allows for this (via the phrase "such as").  We have to make sure we don't lose that in a last-minute edit...

Regarding the at-risk markup, I expect to u

[2019-05-08 05:53] mmccool commented on #637
Note I added the az-Latn and az-Arab tags since the version originally sent in for review.   I used these as examples of where a script subtag is needed to determine the base text direction.

[2019-05-08 05:59] mlagally opened #649 "Acknowledge all contributors"
We should acknowledge all contributors to the thing-description spec.
See: https://github.com/w3c/wot-architecture/pull/330

[2019-05-08 06:01] mmccool commented on #635
One issue is that we *expect* the JSON-LD 1.1 WG to add some means to specify text direction explicitly in an `@context`, perhaps with the addition of an `@dir` tag.  That would be great, but unfortunately it does not exist and the JSON-LD 1.1 spec explicitly calls out that it does not provide a means to explicitly specify direction.   We don't want to define our own way of doing it since then we

[2019-05-08 06:07] mmccool commented on #649
Probably not something we have to do before the CR transition, though.

[2019-05-08 06:13] mmccool commented on #618
The list of allowed values for "format" has the same issues as "scheme", in that it does not allow for extensions if we say "one of".   At the same time, we should specify certain terms for known formats, so that people don't use different spellings to mean the same thing.   My recommendation here is that we remove the "one of" typing (at least, to allow extensions) and make a list of acceptable f

[2019-05-08 06:22] mmccool commented on #618
I also renamed this issue since we resolved not to change the name but do need to clarify the default values.  I looked it up an apparently there is an "application/cwt" mediaType registered for CWT: https://www.iana.org/assignments/media-types/application/cwt.   One option here would be to say appropriate mediaTypes can be used to identify the format of the token, although we might want to be mor

[2019-05-08 06:23] mmccool commented on #613
Lots of HTML markup in RDF comments at this point, not sure it's a good time to change right now ;).

[2019-05-08 06:26] mmccool commented on #613
I have marked this as WIP.   Ege, I also need to make some changes to the security sections to deal with the format thing, so I will watch your PR and do a review as soon as it seems to be done, then we can discuss it in the editors's call.   We do need to wrap this up in the next few hours so it can be merged in time for the CR transition version.

[2019-05-08 06:29] mmccool commented on #598
To wrap this up, I think this is now covered by many other issues and solutions have been merged into the specification.   In summary, we have decided to require "support" to be an URI/IRI and so "supportLanguage" is no longer needed.   Text direction is now addressed in the spec via inference from language/script tags.  I therefore propose we close this issue.

[2019-05-08 06:47] mmccool commented on #585
I updated the description of this issue to reflect the current status of the spec; for example, we have removed "name" and "support" from the list of human-readable metadata.   The checklist is a little odd since it gives a set of possible solutions, and we only have to implement one.  I have checked the ones we actually use.   The unchecked boxes reflect the solutions we did not use, and the asso

[2019-05-08 06:50] mmccool commented on #584
Note we decided to remove "name" completely (replacing it with title/titles at the Thing level) and require that "support" is an IRI/URI.   So only title/titles and description/descriptions contain human-readable metadata, we support explicit declaration of the language for each of these, and have defined rules for infering the base text direction from the language tags (requiring a script subtag

[2019-05-08 06:52] mmccool commented on #580
We have decided to require that "support" we a URI/IRI rather than a human-readable string that might contain a personal name.  Therefore the exception I noted above has been resolved.

[2019-05-08 06:55] takuki commented on #643
I added a Note in section [6.3.10 Human-Readable Metadata](https://cdn.staticaly.com/gh/w3c/wot-thing-description/ca6e3495b01f6969282d7804b86eaa7790914b71/index.html#titles-descriptions-serialization-json) to give a health warning with a reference to string-meta.

[2019-05-08 07:20] takuki commented on #649
Some of the people who I think made contribution after the last publication includes:

@egekorkan (Ege), @msporny (Manu Sporny), @aphillips (Addison Phillips) , @ektrah (Klaus Hartke)

Any thoughts?

[2019-05-08 07:32] mmccool commented on #597
See PR https://github.com/w3c/wot-thing-description/pull/651

[2019-05-08 07:33] mmccool commented on #597
Note: it should be possible to merge this PR even if the base document changes significantly, since most changes were to testing/inputs/atrisk.csv.   However, there were a few small changes to index.template.html to clean up the at-risk highlighting explanation at the very start of the document.  Diffs in index.html and in other places are "render noise" and can be ignored.

[2019-05-08 07:38] vcharpenay commented on #613
yes, it is. You can even indicate it is an HTML snippet by adding `^^rdf:HTML` at the end of the string.

[2019-05-08 07:44] sebastiankb commented on #649
I would also mention @jmcanterafonseca

[2019-05-08 07:52] zolkis commented on #649
In specifications where there are a lot of contributors, it's very rare that all contributors are explicitly acknowledged, but a general acknowledgement is made to all contributors and a link to github contributors is given.

There are even more concise ways, for instance the Web Bluetooth group has done it: there is no acknowledgements section, they don't even name editors, but says to check cont

[2019-05-08 07:56] mlagally commented on #649
There are different styles ...

In the architecture spec I took the approach of adding everybody who did commits to the3 spec on github. This honours all contributions.

[2019-05-08 07:57] vcharpenay commented on #627
Example 2 does not make any *general* assumption about SAREF but there is an overlap between `td:Thing` and `saref:Device`, indeed. It could event be formalized as follows: `(Device and hasInteractionAffordance some InteractionAffordance) subClassOf Thing`.

As for adding `td:ThingDescription`, it is analogous to having every JSON-LD document contain an RDF node with type `JsonLdDocument`. I don't

[2019-05-08 07:57] #627 closed

[2019-05-08 07:57] #431 closed

[2019-05-08 07:57] #430 closed

[2019-05-08 07:57] #429 closed

[2019-05-08 07:58] egekorkan commented on #633
It is done at #632

[2019-05-08 07:59] vcharpenay commented on #292
At this point, the discussion significantly drifted away from the original point. I'll close the issue. @zolkis please open a new one if you think it is necessary.

[2019-05-08 07:59] #292 closed

[2019-05-08 08:01] zolkis commented on #292
Not really needed, I asked @danielpeintner to explain this in the Scripting call.

[2019-05-08 08:06] vcharpenay commented on #262
A discussion has started to align TD with [CoRAL](https://tools.ietf.org/html/draft-hartke-t2trg-coral), an IETF draft. Among others, your points were discussed and it was decided to further axiomatize the [Web linking module](https://w3c.github.io/wot-thing-description/ontology/lnk.html) (to be renamed "Hypermedia controls"). This goes beyond the scope of the current WoT WG charter, though. I'll

[2019-05-08 08:06] #262 closed

[2019-05-08 08:13] vcharpenay commented on #259
This issue goes beyond the scope of the current WoT WG charter. At this point, the reference modeling choice for this alignment should be [the one introduced](https://github.com/w3c/wot-thing-description/issues/259#issuecomment-436604036) by @mariapoveda.

[2019-05-08 08:13] #259 closed

[2019-05-08 08:28] sebastiankb commented on #633
ok thanks.

[2019-05-08 08:28] #633 closed

[2019-05-08 08:29] #501 closed

[2019-05-08 09:02] jmcanterafonseca commented on #627
@vcharpenay thanks for the explanation!, very useful

[2019-05-08 09:09] jmcanterafonseca commented on #649
issue with mentioning only GH Contributors, is that there can be useful contributions in terms of issue raising, alternative proposals etc. that could be acknowledged

 In addition, as pointed out by @ashimura the IPR Policy essentially does not recommend to land PullRs from people, like me, who did not previously sign the IPR commitment (even if we state that we do not pretend to claim any IPR as

[2019-05-08 09:15] jmcanterafonseca commented on #599
@mkovatsc thanks! LGTM in #646, once that lands I think we can close this.

[2019-05-08 09:49] vcharpenay commented on #297
has been fixed today. See [ontology doc](https://w3c.github.io/wot-thing-description/ontology/td.html).

[2019-05-08 09:49] #297 closed

[2019-05-08 10:25] vcharpenay commented on #621
done (5ee8d4126fb2c7b0e582dcc0a4945bb6836be2f2).

[2019-05-08 10:25] #621 closed

[2019-05-08 10:31] mkovatsc commented on #598
Agree

[2019-05-08 10:31] #598 closed

[2019-05-08 10:36] #599 closed

[2019-05-08 10:39] vcharpenay commented on #636
addressed by 3c3c7f745aef7731b8af6b201dc2375c4fcf3eac. Thanks.

[2019-05-08 10:39] #636 closed

[2019-05-08 12:25] mkovatsc opened #652 "Alternative Namespaces (www.w3.org/ns/...)"
Ralph's feedback for the year-based namespace, where we have to add "wot", does not match with the Alternative Namespaces, which we were encouraged to continue using.

This feels odd to me, in particular ns/json-schema considering the arguments for the year-based namespaces.

[2019-05-08 15:24] mmccool commented on #618
See PR https://github.com/w3c/wot-thing-description/pull/655.   This just adds "cwt" to the current list of allowed values without restructuring.   This actually needs a lot more work; in particular, I should add normative references to the specs for JWT, CWT, etc.   I'll mark the PR as WIP and see how much I can improve it before we have to call it.

[2019-05-08 15:25] mmccool commented on #618
See PR https://github.com/w3c/wot-thing-description/pull/655

[2019-05-08 15:29] mkovatsc commented on #635
@aphillips , please have a look at the new definitions in [5.3.1.1 Thing](https://w3c.github.io/wot-thing-description/#thing) (after the table) and [5.3.1.7 MultiLanguage](https://w3c.github.io/wot-thing-description/#multilanguage).

[2019-05-08 15:31] aphillips commented on #635
@mkovatsc My bad for not looking at the bulleted list.

@mmccool I fully agree with [your comment](https://github.com/w3c/wot-thing-description/issues/635#issuecomment-490358924) and appreciate the care the WG applied here.

[2019-05-08 15:43] aphillips commented on #635
In 5.3.1.1 I see:

The call out about script subtags seems overly specific. Do you really need to call that out? It's on your mind now because of the thread about direction, but I think it's a distraction. I would also show some examples with region subtags and maybe even a variant. Perhaps:

[2019-05-08 15:59] aphillips commented on #635
The direction computing stuff in 5.3.1.1 I have these comments:

1. `approach` is misspelled.
1. The following quoted text forces a default of LTR. I would probably encourage using "first strong" detection instead:

1. I would reduce the `MUST` to `SHOULD`. I would also allow CLDR's "likely subtag" algorithm to be used. This is especially helpful for Chinese cases where some systems use region sub

[2019-05-08 16:05] aphillips commented on #635
On 5.3.1.7:

1. Same comment about script subtags as I mentioned above.
1. Should there be a requirement that language tags not be repeated? (e.g. you can't have two strings with the tag `en-GB`)

[2019-05-08 16:09] mkovatsc commented on #643
I added the following Note in [5.3.1.1 Thing](https://w3c.github.io/wot-thing-description/#thing) to address the issues with bidirectional text:

Great care has to be given when assigning bidirectional text to the human-readable metadata of Thing Descriptions. Producers of such texts are advised to include bidi controls as appropriate to try to ensure proper display. Consumers of such texts are ad

[2019-05-08 16:12] mkovatsc commented on #638
Latest text in [6.3.2 Human-Readable Metadata](https://w3c.github.io/wot-thing-description/#titles-descriptions-serialization-json):

[2019-05-08 16:42] takuki commented on #637
Just a note. One difference between zh-Hans and zh-Hant in the examples is that the translation of the word "information" should be different. Not only the glyphs are different, actual words are different for the word "information" between mainland China (using zh-Hans) and Taiwan/HK (using zh-Hant).

[2019-05-08 17:17] mkovatsc commented on #635
Pushing an update with your proposed changes in 5 min.

[2019-05-08 17:19] mkovatsc commented on #637
@takuki Could you please check the translations for `titles` in https://w3c.github.io/wot-thing-description/#example-7 and https://w3c.github.io/wot-thing-description/#example-8 ?

[2019-05-08 17:22] takuki commented on #637
@mkovatsc , the translations in Asian languages looks good. Thank you.

[2019-05-08 17:29] vcharpenay commented on #654
PR #656 addressed the issue and was merged.

[2019-05-08 17:29] #654 closed

[2019-05-08 19:08] sebastiankb commented on #549
issue is solved by PR above. TD spec uses 07 draft

[2019-05-08 19:08] #549 closed

[2019-05-08 19:20] sebastiankb commented on #555
I would simple add after

The form context is given by the surrounding Property, Action, or Event Interaction Affordance.

What do you think?

[2019-05-08 19:42] mkovatsc commented on #555
In Thing Descriptions, the form context is the surrounding Object, such as Properties, Actions, and Events or the Thing itself for meta-interactions.

[2019-05-08 19:42] mkovatsc commented on #555
Conceptionally a good fix, please include! Thx.

[2019-05-08 19:57] mkovatsc commented on #611
Good:
* Remove ExpectedResponse contentType from the (static) default value table
* make a simple assertion that in the absence of `repsonse` the expected response content type will be equal to the form content type

[2019-05-08 19:58] mkovatsc commented on #611
How could I move the comment back in time before yours?!

[2019-05-08 20:04] mkovatsc opened #654 "Namespace clarifications by Ralph"
Ralph provided clarifications on the namespaces we target:
https://lists.w3.org/Archives/Member/member-wot-wg/2019May/0018.html

In the call on 8 May 2019 we decided to go for option B with subdirectories:

1. Core https://www.w3.org/2019/wot/td#
2. Data Schema https://www.w3.org/2019/wot/json-schema#
3. Security https://www.w3.org/2019/wot/security#
4. Web Linking https://www.w3.org/2019/wot/web-

[2019-05-08 20:29] mkovatsc commented on #553
@mmccool could you improve the text?

Maybe:

Unique name referring to a particular secret for gaining access.

[2019-05-08 20:30] mkovatsc commented on #553
Note it is for both Classes having `identity`.

[2019-05-08 20:31] #628 closed

[2019-05-08 20:39] takuki commented on #649
Made changes to Acknowledgments section.
See PR #661 and #662.

[2019-05-08 21:17] #555 closed

[2019-05-08 22:26] mkovatsc commented on #611
![image](https://user-images.githubusercontent.com/664090/57412457-023b2b80-71f1-11e9-8315-59e3570f1ba3.png)

Time traveling was also resolved. Closing.

[2019-05-08 22:26] #611 closed

[2019-05-08 22:29] mkovatsc commented on #617
Giving multiple possible responses would on the other hand rely on content metadata. Good protocols have that, MQTT does not...

Let's defer.

[2019-05-08 22:33] mkovatsc commented on #349
We now have a formal model based on Terms. There is actually nothing like constant vs data type anymore.

Could keep it on the backburner... marked it as propose closing.

[2019-05-08 22:40] #613 closed

[2019-05-08 22:41] mkovatsc commented on #554
Only mentions, where we mean endpoint in the IETF sense (socket address). Closing.

[2019-05-08 22:41] #554 closed

[2019-05-08 22:42] mkovatsc commented on #521
Looks good. Closing.

[2019-05-08 22:42] #521 closed

[2019-05-08 23:25] vcharpenay commented on #586
my rationale was, because these terms are for annotation purposes (not functional), I wanted to simplify the mapping such that there a single lexical form for each possible value. If necessary, I can relax the assertion to allow other time zones.

[2019-05-09 00:06] mkovatsc commented on #586
The issue is that I think it is highly likely that other forms than Zulu time will end up in there. Should they be invalid then? I would say no.

[2019-05-09 02:47] mmccool commented on #349
I see Matthias is proposing closing this.  We could keep it open but deal with it during the CR period as it is editorial.
If we do change the color of constants, don’t overlook the language tag examples in the text (en, az-Latn, etc).

[2019-05-09 03:54] mlagally opened #665 "JSON-LD context file"
The JSON-LD context file, which is referenced in the normative section 4 cannot be found.

[2019-05-09 04:07] mlagally opened #666 "Semantically equivalence and semantic validity of TD‘s is undefined"
Used  in the terminology section

[2019-05-09 04:21] mlagally opened #667 "Section 5: The instance relationship for simple types is unclear"
Which simple types are permitted? Where are they defined?
Can a value be an instance of two simple types, e.g., 1 could be an instance of both unignedInt and Int?

[2019-05-09 04:43] mlagally opened #668 "Improve definitions of type and assignment functions"
Language should be simplified for clarity: since these functions take only a Signature of the Class as a valid argument, replace ‚Vocabulary Term‘ with ‚Signature of the Class‘
Drop sentence on ‚partial‘

[2019-05-09 04:52] mlagally opened #669 "Section 5: assignment function is underspecified"
What is the condition for returning true or false?
I believe we want to define duck typing, however this needs a clear definition, like:

... returns true, if it contains all mandatory vocabulary terms

[2019-05-09 04:57] mlagally opened #670 "both class instantiation constraints must apply"
I believe we want to express that there is a valid class-instance relationship ,
language could be improved

[2019-05-09 05:55] mkovatsc commented on #665
Wenn know that see issue for Kaz.
Ist okay

[2019-05-09 05:57] mmccool commented on #618
I also just made the list of formats and algorithms extensible by using "e.g." rather than "one of", and added an explicit assertion that extension is permissible.

[2019-05-09 05:59] mkovatsc commented on #668
A Term and a set of Terms (Signature) are significantly different. They only take a Term.
Hence correct.

Partial ... can be dropped. Agree

[2019-05-09 06:01] mkovatsc commented on #667
Can copy list from 6.1.

[2019-05-09 06:03] mkovatsc commented on #669
Appears okay when seeing this as a tuple definition. We define those functions basically in the tables by giving assignment and type.

[2019-05-09 06:28] jmcanterafonseca commented on #586
Opting for only allowing 'Z' terminated strings is a good thing in terms of simplicity. Also can help future API designs around the TD, for instance discovery APIs, "give the TDs modified before <date>

on a side note ajv JSON Schema validator only accepts `date-time` format strings 'Z' terminated ...

[2019-05-09 06:32] sebastiankb commented on #551
for now I see it as 'nice to have' and such kind approach can also organized individual based on the given TD Proposal to defer

[2019-05-09 06:33] jmcanterafonseca commented on #649
@takuki thanks! and count on me for further reviews of the WoT TD Spec and related!

[2019-05-09 06:58] vcharpenay commented on #666
Thanks for the comment. Here is the proposed change:

- remove the notion of equivalence but keep a note on canonical forms, referring exclusively to default values
- replace semantic validity by the notion of satisfying instantiation constraints on objects

If I have no objection before the CR transition meeting, @mlagally, I'll implement that in the spec.

[2019-05-09 07:01] mmccool commented on #553
I updated the definition in PR https://github.com/w3c/wot-thing-description/pull/655.   It is now
"Identifier providing information unique to the resource which can be used for selection or confirmation."
I wanted to avoid the word "access" since it is not actually a credential, just a "selector" (to pick from several keysin PSK) or a "confirmer" (for example, when you get a cert from a website, i

[2019-05-09 07:01] vcharpenay commented on #668
Note that I added 'partial' after your own review, @mkovatsc, since it is be otherwise ambiguous: another way to read the definition is that these functions are defined on all terms, in which case it is unclear what it should return for other terms.

[2019-05-09 07:05] mkovatsc commented on #669
@vcharpenay please look into this and only then decide if PR needed.

[2019-05-09 07:07] mmccool commented on #665
I assume by "cannot be found" is "URL cannot be dereferenced".   We discussed this, and Kaz will deal with it (eg override any errors it raises) during the publication process.   We probably should try to set it up as soon as we can, but I don't think it gates our CR transition.

[2019-05-09 07:08] vcharpenay commented on #667
I'll add a list.

The answer should follow from the definition: yes.

[2019-05-09 07:09] mkovatsc commented on #668
Maybe this is clearer:
* The Assignment Function of a Class takes a Vocabulary Term **of the Signature of its Class** as input and returns either true or false as output.
* The Type Function of a Class also takes a Vocabulary Term **of the Signature of its Class** as input and returns another Class as output.

[2019-05-09 07:10] mkovatsc commented on #667
Add the list for CR

[2019-05-09 07:11] vcharpenay commented on #668
To me, it is a paraphrase of the following sentence: "These functions are partial: their domain is limited to the Signature of the Class being defined." but... if time allows it, I'll change that.

[2019-05-09 07:12] mkovatsc commented on #668
Yes, it is only for "Language should be simplified for clarity"

[2019-05-09 07:15] mkovatsc commented on #667
Include "float", "signedInt" from XSD to be future proof...
Maybe we can say something like "for a full list see ..."

[2019-05-09 07:15] mkovatsc commented on #667
Otherwise, we have to extend Section 6.1 as well..

[2019-05-09 07:17] mkovatsc commented on #665
See #432

[2019-05-09 07:20] mkovatsc commented on #586
Maybe do a "SHOULD" assertion, so that other forms are not considered an Error.

[2019-05-09 07:32] mkovatsc commented on #618
Added review(s)

[2019-05-09 07:51] mkovatsc opened #671 "Checklist for collected issues"
- [ ] "by combing the data schemas of each PropertyAffordances instance" -- remove plural s
- [ ] "each value assigned to their op name-value pair" -- "the string values assigned to the name op, either directly or within an Array, "
- [ ] Move text on SemVer in 6.3.3 to Version class definition in Section 5
- [ ] "PropertyAffordance Class is a subclass of the class InteractionAffordance" -- "Prope

[2019-05-09 08:15] vcharpenay commented on #670
see 5fca6f84017db3cc5bccbcbada68211bb98247e9.

[2019-05-09 08:16] vcharpenay commented on #666
See 5fca6f84017db3cc5bccbcbada68211bb98247e9.

[2019-05-09 08:17] #665 closed

[2019-05-09 08:27] vcharpenay commented on #669
indeed, as @mkovatsc mentioned, the assignment function *is used* to define mandatory terms (as opposed to being defined from them). The following sentence in the def expresses this: "In other words, the Assignment Function indicates whether a Vocabulary Term in the Signature of the Class is mandatory.".

To me, there is no change needed.

[2019-05-09 08:31] sebastiankb commented on #671
if we integrage this egain we have to update  example https://w3c.github.io/wot-thing-description/#example-3

[2019-05-09 08:47] sebastiankb commented on #652
I also +1 this since 4.2 is not very useful and may confuse developer.....

[2019-05-09 08:53] vcharpenay commented on #586
it's a good trade-off, indeed. That's what I did in 2086f076f168408a7098d151b298a0bd2efd941f.

[2019-05-09 09:07] #618 closed

[2019-05-09 09:08] #553 closed

[2019-05-09 09:11] sebastiankb commented on #586
musbt be fixed @vcharpenay taking care of it

[2019-05-09 10:14] jmcanterafonseca opened #673 "@context for TD trailing '/' ?"
[code]

shouldn't it be

```"https://www.w3.org/2019/wot/td/v1/"```

or are both allowed? or only v1 allowed? in that case `v1` would be just an alias of `td-context.jsonld` ?

IMHO, it is more correct with the trailing '/' as in that case `td-context.jsonld` would be just the index file of that folder ...

[2019-05-09 10:15] #666 closed

[2019-05-09 10:16] #667 closed

[2019-05-09 10:20] jmcanterafonseca opened #674 "Need a $id for the JSON Schema"
I think it is needed a `$id` for the TD JSON Schema. I'm wondering where at W3C the schema is going to be hosted and that could be equal to the `$id` maybe it could be

"$id": "https://www.w3.org/2019/wot/td/v1" and serve the schema under content negotiation (`application/schema+json`), not sure if that could be a good idea ... or just

"$id": "https://www.w3.org/2019/wot/td/v1/schema.json"

[2019-05-09 10:25] mlagally commented on #669
As proposed by @mkovatsc, we could add text that gives a reference to the Assignment column
in the tables and explains, that the assignment function returns 'true', if the value of the corresponding table column is "mandatory", 'false' otherwise.

[2019-05-09 10:31] vcharpenay commented on #673
That would not be exactly compliant with W3C style guidelines (see [Cool URIs don't change](https://www.w3.org/Provider/Style/URI)). A URI should not expose the internal server mechanisms to serve data, especially not its directory structure.

If the w3.org server redirects with 303 to `https://www.w3.org/2019/wot/td/v1/`, it is fine but there is no guarantee that it will not change its behavior i

[2019-05-09 10:32] #673 closed

[2019-05-09 10:34] vcharpenay commented on #674
A good point, to include to the discussion on #432.

[2019-05-09 10:40] sebastiankb commented on #597
please check the default value table https://w3c.github.io/wot-thing-description/#sec-default-values

[2019-05-09 10:47] vcharpenay commented on #586
PR was closed

[2019-05-09 10:47] #586 closed

[2019-05-09 10:48] vcharpenay commented on #641
The issue referenced above was closed, also solving the present issue.

[2019-05-09 10:56] sebastiankb commented on #674
this is not part of the subset that we want to support at the moment. Can be consider in the future

[2019-05-09 11:02] sebastiankb opened #676 "Section 4 needs better clearification about the context file usage"

[2019-05-09 11:13] #597 closed

[2019-05-09 12:41] mkovatsc commented on #674
Our alignment with JSON-LD favors the Linked Data inclusion mechanism. The subset still ensures compatibility with JSON Schema.

A future version might look further into a combined solution (we had discussions and unsatisfactory proposals for this already and decided to defer).

[2019-05-09 13:53] aphillips commented on #641
The wording to fix #586 isn't quite right.

My comments:

1. RFC3339 has a number of formats defined. You should reference the `date-time` format by name.
1. Your list of verbatim elements is missing the colon and dot.
1. `Z` represents the `UTC` time zone. If you're going to say `UTC+00:00` you need the additional minutes part. But I don't think it is necessary to include the (lack of) offset.
1.

[2019-05-09 14:01] #676 closed

[2019-05-09 14:09] mkovatsc opened #678 "Figure 1: Ensure Subclass relation between PropertyAffordance and DataSchema is visible"
Figure 1 has many arrows pointing to DataSchema. The only Subclass relation arrow is from PropertyAffordance and is easily missed because the white arrow head is hidden under the black ones.

Victor, when manually finalizing the generated figures, please take care of this.

[2019-05-09 14:21] mmccool commented on #643
Feedback from i18n is that we should use "first-strong" as a fallback rather than assuming LTR.   I will update that assertion (the case of no language information) to say that upon their recommendation).

[2019-05-09 14:32] danielpeintner opened #679 "Editorial and other minor comments"
Please find below some editorial comments according to the section.

# 5.3.1.4 ActionAffordance

"dimm a lamp" --> "dim a lamp"

# 5.3.1.5 EventAffordance

"Provides a version identicator" --> "Provides a version indicator"

# 5.3.2.1 DataSchema

"Section 7.3 Defined Formats in particluar" --> "Section 7.3 Defined Formats in particular"

# 5.3.3 Security Vocabulary Definitions

"eligable" --> "eli

[2019-05-09 14:40] mmccool commented on #635
- At least should add an assertion that if the script subtag is NOT necessary it should not be included
- SHOULD use strong first in the absence of other information
- Could change recommendation to derive direction from language to SHOULD
- Coordinate this with MAY use strong-first even if have language information or can't use it (eg on a constrained device).

Look again at this suggestion:
I wo

[2019-05-09 14:52] mmccool commented on #641
- i18n recommends that we do not disallow offsets.

[2019-05-09 14:59] mmccool commented on #578
- leap seconds: xsd:datetime does not support this
- BUT need leap seconds for very accurate timekeeping
- BUT our timestamp usage is not for that, but for document management, not payloads
resolution: we don't need to worry about leap seconds.

[2019-05-09 15:04] mkovatsc commented on #641
That is what was intended. I think this text is just a bit misleading:

[2019-05-09 15:06] sebastiankb commented on #671
there is a PR that address all listed issues #677

[2019-05-09 15:07] vcharpenay commented on #670
see #680.

[2019-05-09 15:07] vcharpenay commented on #669
see #680.

[2019-05-09 15:08] vcharpenay commented on #668
see #680.

[2019-05-09 15:08] mmccool commented on #578
- Also, it was noted that disallowing offsets may cause interoperability problems; so we should allow them (or rather, don't disallow them) even if we do not support encoding of timezones.

[2019-05-09 15:13] mkovatsc commented on #635
Note that I removed the critical text on avoiding some text constructs already. We have this NOTE, which should be replaced by the processor/producer paragraphs, I guess:

[2019-05-09 15:14] mmccool commented on #678
Do we need this by CR transition?   It seems like an editorial fix (graphical fix) to me.   Trying to get this done now, and... let's use the "by CR transition" label only for things that ABSOLUTELY need it.

[2019-05-09 15:25] #671 closed

[2019-05-09 15:26] mmccool commented on #671
PR merged, will mark closed prior to CR transition.

[2019-05-09 15:29] sebastiankb commented on #679
thanks @danielpeintner

[2019-05-09 15:45] mkovatsc commented on #678
okay, with the new i18n stuff, let's relax it...

[2019-05-09 16:14] mmccool commented on #641
Matthias, we are dealing with text direction right now.  If you want to do a PR for this issue, that would be great ;)

[2019-05-09 17:47] ashimura commented on #652
I talked with Ralph again about this, and confirmed that if the definition has changed enough that the old name(s) should not really redirect to the new name(s) that is fine.

So we can remove section 4.2.

[2019-05-09 18:30] #668 closed

[2019-05-09 18:31] #669 closed

[2019-05-09 18:31] #670 closed

[2019-05-09 22:38] mkovatsc commented on #652
We applied this clean-up before the CR transition request. Closing.

[2019-05-09 22:38] #652 closed

[2019-05-09 22:39] mkovatsc commented on #595
All was checked. Closing.

[2019-05-09 22:39] #595 closed

[2019-05-09 22:40] mkovatsc commented on #580
All was checked.
Follow-up was clarified.
Closing.

[2019-05-09 22:40] #580 closed

[2019-05-09 22:43] mkovatsc commented on #578
Time zone offsets are allowed but discouraged with a SHOULD on using Zulu time.
High-precision time stamping that would need leap seconds is not in scope for this spec.

Closing.

[2019-05-09 22:43] #578 closed

[2019-05-09 22:48] mkovatsc commented on #432
See final namespace IRIs in [CR-request version](https://github.com/w3c/wot-thing-description/blob/CR-request/index.html#L723):

JSON-LD context file: https://www.w3.org/2019/wot/td/v1

Vocabulary | Namespace IRI
-- | --
Core | https://www.w3.org/2019/wot/td#
Data Schema | https://www.w3.org/2019/wot/json-schema#
Security | https://www.w3.org/2019/wot/security#
Hypermedia Controls | https://www.w3

[2019-05-09 22:58] mkovatsc commented on #630
We had this one open as long as possible for the group to review and comment. Since no concerns were raised, I am closing this issue now.

Note that this is not an issue opened by the I18N WG.

[2019-05-09 22:58] #630 closed

[2019-05-09 23:00] mkovatsc commented on #606
We kept this open until the last possible moment for review. No concerns were raised.
Closing.

[2019-05-09 23:00] #606 closed

[2019-05-09 23:01] mkovatsc commented on #579
All items checked. Closing.

[2019-05-09 23:01] #579 closed

[2019-05-09 23:07] mkovatsc commented on #584
We changed `support`to type anyURI.
We removed the special `name` field for Things and use the general `title` mechanism.
Both `title` and `description` have corresponding multi-language fields (ending with plural s) for I18N.
`title` and `description` have metadata through the language tag in `@language`.
`titles` and `descriptions` use objects with a language tag as name.
We provide reviewed rul

[2019-05-09 23:07] #584 closed

[2019-05-09 23:11] mkovatsc commented on #115
@handrews we now have a [frozen CR transition request version in the master](https://w3c.github.io/wot-thing-description/).

This would be a good point in time to assess the current compatibility.

[2019-05-09 23:15] mkovatsc commented on #349
Let's check after some recovery if we can improve the text already in `code` markup further using different colors, e.g., Vocabulary Terms (maybe this is meant by constants) vs values.

[2019-05-09 23:33] mkovatsc commented on #582
The remaining unchecked item was actually a duplicate of #584
Closing.

[2019-05-09 23:33] #582 closed

[2019-05-10 07:53] sebastiankb commented on #679
Editor's note have to be removed in Chapter 5

[2019-05-10 19:15] takuki commented on #349
I plan to work on this during CR period.

[2019-05-10 19:18] #649 closed

[2019-05-11 07:47] mlagally opened #686 "Fix respec issues"

[2019-05-14 10:32] mkovatsc commented on #585
@takuki Can we tick off the last two check boxes and close this issue?

* ​Providing metadata constructs indeed conflicts with JSON-LD compatibility, hence we have enough text on how to derive the base direction from the given language tags.
* The first-strong algorithm is now actually the main SHOULD-based rule, as it also is good for constrained devices that cannot keep an up-to-date database of

[2019-05-14 10:35] mkovatsc commented on #585
@r12a please note that we use the "i18n-self-check" label for the I18N issues based on your checklist. ("i18n-comment" is for issues raised by your review, "i18n-tracking" was redundant).

[2019-05-14 11:19] r12a commented on #585
@mkovatsc the i18n-tracking label is a W3C-wide horizontal tracker tag tied to our notification system. If that tag is present, we will be notified each time a new comment is added to the thread, when the issue is closed, etc.. Without it, we'll never notice that there are changes.  I'm going to put it back here before sending this comment, so that our notification system picks up on https://githu

[2019-05-14 11:22] r12a commented on #585
Btw, for more information about the labels the i18n WG applies to other WG repos see https://www.w3.org/International/review-request#labels.

[2019-05-14 11:35] r12a commented on #585
After our discussion during the i18n telecon on Thursday i reworked the recommendations in the string-meta document, to better show the relationships between the various approaches to supplying language/direction info. (This means that the checklist needs updating as soon as the dust settles.) See https://w3c.github.io/string-meta/#best-practices-recommendations-and-gaps This rework was prompted b

[2019-05-14 12:18] mkovatsc commented on #585
We fixed that after the call with you to:

[2019-05-14 12:20] mkovatsc commented on #585
Sorry, my bad, I did not know about that. I will fix it in all related issues.

[2019-05-14 12:23] mkovatsc commented on #585
Is the "i18n-comment" label enough or does it also need the "i18n-tracking"?

[2019-05-14 12:30] r12a commented on #585
Only one of i18n-comment or i18n-tracking are needed.  They're both linked into the notification system.  We use i18n-comment for issues we raised or for other issues where we want to be asked if we are satisfied before transitioning. i18n-tracking is used for the other issues we just want to track.

[2019-05-14 12:33] vcharpenay commented on #678
see #687.

[2019-05-17 03:32] takuki commented on #593
The controversial third example in Thing Templates section was removed per resolution on 5/2 TD teleconference.

It was removed because “id” should not be used to make a reference in @type.

[2019-05-17 03:34] takuki commented on #593
@mlagally suggested to defer this issue to the next version of TD during 5/9 TD teleconference.

[2019-05-17 05:36] ashimura commented on #432
I had been working with the Webmaster and have set up the following redirection/content negotiation:
[[
https://www.w3.org/2019/wot/td/v1
=> http://w3c.github.io/wot-thing-description/context/td-context-1.1.jsonld (application/ld+json) [OK]

https://www.w3.org/2019/wot/td
=> http://w3c.github.io/wot-thing-description/ontology/td.ttl (text/turtle)
=> http://w3c.github.io/wot-thing-description/ontol

[2019-05-17 05:50] takuki commented on #686
This was probably all fixed by @ashimura .

See https://lists.w3.org/Archives/Member/member-wot-wg/2019May/0058.html

[2019-05-17 06:29] takuki commented on #588
@mkovatsc , we need to update IANA with the CR version URL.

[2019-05-17 06:37] #678 closed

[2019-05-17 07:22] danielpeintner opened #696 "Leftover change - "name" to "title""
[Example 2](https://w3c.github.io/wot-thing-description/#thing-description-full-serialization) still contains `name` instead of `title` on thing level....

[2019-05-17 07:28] danielpeintner commented on #696
One more minor comment. This "name to title" change is not listed under [Recent Specification Changes](https://w3c.github.io/wot-thing-description/#changes). I think it would be good to add it given this is a rather important point. Thanks!

[2019-05-17 10:06] mkovatsc commented on #432
Great, thanks Kaz!

@vcharpenay , @ashimura I guess we need to become a bit more restrictive about updating those files. PRs from now on should not include all the render noise anymore (@mmccool ;) ).

[2019-05-17 10:14] mkovatsc commented on #560
Update:

Besides the mail from Mark on the [mailing list](https://mailarchive.ietf.org/arch/browse/media-types/), I received a comment about "clipboard flavor names". They help in operating systems to preserve the format when copying & pasting between applications. The commentator has been busy, so I am still waiting for some consensus on that.

[2019-05-17 10:27] mkovatsc commented on #588
So far, I only sent out the Preliminary Community Review, for which the Editor Draft still is technically up to date.

It is a pitty that the Link under IANA Considerations was not updated in the CR version... We have to make sure we reference the right document when sending the actual registration request to IANA.

See #560 for IANA progress.

[2019-05-17 10:35] mkovatsc commented on #560
I just checked [IANA](https://www.iana.org/assignments/media-types/media-types.xhtml) and in many cases the reference points to the CR document.

Unfortunately, the reference in the IANA section of the TD CR was not updated.
@ashimura Can we fix this? Or ideally, we should give the updating https://www.w3.org/TR/wot-thing-description/ as reference for IANA, no?

[2019-05-17 11:18] vcharpenay commented on #432
Note: at the moment, Turtle files are bare lists of terms and do not include any axiom. I removed initial axioms before CR transition as they were long outdated. Axioms are yet to be (re)defined, I believe I will do that before moving to PR. It does not impact in any way the main TD rec, though.

[2019-05-17 11:33] vcharpenay opened #698 "Specification of @type"
The [TD information model](https://www.w3.org/TR/wot-thing-description/#overview) includes an `@type` for the classes `Thing`, `InteractionPattern`, `DataSchema` `SecurityScheme` only.  However, [Section 7.1](https://www.w3.org/TR/wot-thing-description/#semantic-annotations) does not refer to specific classes in its explainer on how to use `@type`.

In particular, annotations for the class `Form`

[2019-05-17 11:36] vcharpenay commented on #698
One solution would be to remove `@type` from all class definitions in Section 5. Another solution is to add `@type` only to `Form`  (and maybe `ExpectedResponse`?)

I would favor the former solution. It is never obvious when designing a knowledge base what objects should carry type information.

[2019-05-17 12:22] mkovatsc commented on #698
Since we define an information model that can also be used without JSON-LD, I think it is good to list `@type` in the same manner as other fields, in particular where we encourage to use it (Thing itself, affordances, data items).

Technically, any class may have additional fields from TD Context Extensions, which would include `@type`.

For this TD version, we cannot change the normative parts an

[2019-05-17 12:31] mkovatsc opened #699 "WoT Test Cases document?"
Our WG page lists a "WoT Test Cases" document under the Informative Deliverables:

https://www.w3.org/WoT/WG/

@mmccool, @ashimura What exactly is this document, is it required, will it still be published as Note?

[2019-05-18 00:23] takuki opened #700 "Figure 2 title "JSON schema vocabulary" should be "Data Schema Vocabulary""
as pointed out in May 15 WoT Main teleconference.

[2019-05-19 11:21] egekorkan opened #701 "[Testing] td-default-idempotent is used for writeOnly"
The assertion with id `td-default-idempotent` that is `td-default-idempotent-1` in the implementation report should not be called this but `td-default-writeOnly` since it's description is

Applying this will remove the duplicate id as well

[2019-05-19 11:27] egekorkan opened #702 "[Testing] Wrong default value in assertion descriptions of td-default-X"
The issue applies to the following assertions so I think it is a code bug that introduces this bug:

td-default-alg
td-default-alg-pop
td-default-contentType
td-default-flow
td-default-format
td-default-format-pop
td-default-in-apikey
td-default-in-basic
td-default-in-bearer
td-default-in-digest
td-default-in-pop
td-default-op-actions
td-default-op-events
td-default-op-properties
td-default-qop
td

[2019-05-19 16:20] egekorkan opened #703 "[Testing] td-data-schema-objects_items is still present"
The report produces the following text

This is no more valid and the following line covers it:

[2019-05-19 16:23] egekorkan opened #704 "[Testing] td-data-schema-objects_properties should be removed"
This assertion is not necessary anymore since we have :

[2019-05-20 06:48] sebastiankb opened #706 "No link to A.2 in toc"
When I click in the table of content "A.2 MyLightSensor Example with MQTT Protocol Binding" it jumps me to A.1

[2019-05-20 07:38] k-toumura commented on #706
due to duplicated id `myLampThing-example-serialization`.
https://github.com/w3c/wot-thing-description/blob/fd89b0c40330bb3266edf08854d22a943c36ae6e/index.template.html#L3703
https://github.com/w3c/wot-thing-description/blob/fd89b0c40330bb3266edf08854d22a943c36ae6e/index.template.html#L3764

[2019-05-20 11:58] mmccool commented on #704
Merged, incorporated into new test results.

[2019-05-20 11:58] #704 closed

[2019-05-20 11:59] mmccool commented on #703
Update to extra-assertions in PR resolves this issue.

[2019-05-20 11:59] #703 closed

[2019-05-20 11:59] mmccool commented on #702
OK, let me take a look; looks like a bug in assertions.js.

[2019-05-20 12:02] mmccool commented on #696
I think these can both be considered editorial changes.

[2019-05-22 05:52] takuki opened #708 "Ontology HTML files are not yet WG Notes"
They are Working Group Editor's Draft for now.

http://w3c.github.io/wot-thing-description/ontology/td.html
http://w3c.github.io/wot-thing-description/ontology/jsonschema.html
http://w3c.github.io/wot-thing-description/ontology/wotsec.html
http://w3c.github.io/wot-thing-description/ontology/hyperm.html

Please see @ashimura 's [comment](https://github.com/w3c/wot-thing-description/issues/432#issue

[2019-05-22 13:07] mmccool opened #710 "Describe automated testing in TD Implementation Report"
To satisfy the "Test Cases" deliverable in the charter, add a description of the ThingWeb Playground and AssertionTester to the TD Implementation Report.   Break the results table into "Automatically Tested" and "Manually Asserted" results.

[2019-05-23 12:49] mkovatsc opened #711 "Lingual correction in 5.3.1.3 PropertyAffordance"
The assertion currently says

It should say the following, similar to Action- and EventAffordance:

Or even better, to simplify all three to:

[2019-05-27 08:47] danielpeintner opened #712 "Multiple methodName's ?"
[8.3.1 HTTP Protocol Binding](https://w3c.github.io/wot-thing-description/#http-binding-assertions) states that a TD can include a term indicating the method, i.e., `htv:methodName`.

For HTTP e.g.;
* `op: "readproperty"` maps to `GET`
* `op: "writeproperty"` maps to `PUT`
* ...

However this is somewhat limited given that `op` may be of type array.
Hence it is not possible to provide a *correct*

[2019-05-27 09:35] mkovatsc commented on #712
It is important to understand how the declaration of forms works. It works just like Web links, where a link element having multiple `rel` attributes actually represents multiple links, one for each `rel`attribute!

This means that this optimization with multiple `op` attributes only works for default values of other attributes. If the attributes do not apply to all forms combined through an `op`

[2019-05-27 09:39] mkovatsc commented on #712
Oh, `"op": "subscribeevent"` is missing in Example 32 when displaying default values.

I am also wondering why the examples in Appendix A do not have this nice default values feature... shouldn't we add this (again)?

[2019-05-27 09:49] mkovatsc opened #713 "Example 32 Event form missing default value listing"
Example 32 allows to show default values. However, the form for the Event is missing `"op": "subscribeevent"` when displaying default values.

[2019-05-27 09:54] mkovatsc opened #714 "Example 33 is missing op for status Property"
The default value of `op` for Properties is `["readproperty", "writeproperty"]`. In the example, however, a request method is assigned, which now sets it to GET for both operations. This does not make sense...

Basically, only `"op": "readproperty"` is missing.

However, I would improve the example by showing behavior of OCF devices, which use POST for `writeproperty`. Hence, I would split the for

[2019-05-27 09:56] mkovatsc opened #715 "No "with default values" checkbox for Appendix A examples"
I think the "with default values" checkbox is a valuable feature. We should add it to the examples in Appendix A.

[2019-05-28 21:08] takuki commented on #712
In addition, is it ok **not** to specify default method name for subscribeevent in section [8.3.1](https://w3c.github.io/wot-thing-description/#http-binding-assertions) ?

[2019-05-29 11:13] mkovatsc commented on #712
We probably need more explanation around the values for `subprotocol`. In the case of 8.3.1, I see the method as part of the `longpoll` definition -- like `observe` for CoAP means a GET request with Observe option.

[2019-05-30 10:21] mmccool commented on #701
Fixed in PR https://github.com/w3c/wot-thing-description/pull/707

[2019-05-30 10:30] mmccool commented on #702
I put a fix into PR https://github.com/w3c/wot-thing-description/pull/707.   I was pulling the columns out of the table in the wrong order...

[2019-05-30 10:31] mmccool commented on #710
Since we resolved in the last meeting not to have Test Cases as a deliverable this is not really an issue anymore, although I plan in PR https://github.com/w3c/wot-thing-description/pull/707 to mention our automatic testing tools.

[2019-05-30 18:00] takuki commented on #649
I suggest to also name @chachamimm as a contributor as he contributed by helping us to investigate one of the i18n issues. See issue [#580](https://github.com/w3c/wot-thing-description/issues/580).

[2019-05-31 06:38] mmccool opened #717 "[Testing] Additional implementation needed for Action features"
The following Action features need additional implementations:
- [x] ~~1 more example of use of titles and descriptions (td-action-names_titles and td-action-names_descriptions)~~
- [x] ~~1 more example of use of output object (td-action-names_output, td-action-objects_output)~~
- [x] ~~1 more example of use of uriVariables (td-action-names_uriVariables)~~ TESTING PROBLEM

The Form also needs 1 ad

[2019-05-31 06:43] mmccool opened #718 "[Testing] Additional Implementations needed for DataSchema features"
In order to complete the PR testing requirements, additional examples are needed for DataSchema features:
- [x] 1 additional examples for the use of oneOf in an array (td-data-schema-arrays_oneOf, td-data-schema_oneOf)
- [x] ~~1 additional example for the use of descriptions and titles (td-data-schema_descriptions, td_data-schema_titles)~~
- [x] 1 additional example for the use of format (td-data-

[2019-05-31 06:48] mmccool opened #719 "[Testing] Additional implementations needed for HTTP method defaults"
Additional implementations are needed for HTTP method defaults.   Or rather, additional implementations need to record these using manual assertions, as default values cannot be tested since they do not appear in the TD, but are statements about the behavior of a Consumer.

- [x] additional assertion for td-default-http-method_get (for op = readproperty)
- [x] additional assertion for td-default-h

[2019-05-31 06:49] mmccool opened #720 "[Testing] Additional implementations are needed for Event features"
Additional implementations are needed for the following Event features:
- [ ] 1 additional implementation of titles and descriptions (td-event-names_titles, td-event-names_descriptions)
- [ ] 1 additional implementation of uriVariables (td-event-names_uriVariables)

[2019-05-31 07:02] mmccool opened #721 "[Testing] Additional assertions needed for JSON open ecosystem requirements"
Some assertions are needed to confirm that implementations conform with the "open ecosystem" requirements for JSON:

- [x] 2 additional assertions for td-json-open

[2019-05-31 07:06] mmccool opened #722 "[Testing] Additional Examples are needed for MultiLanguage objects"
At least one additional implementation needs to implement MultiLanguage objects to satisfy td-multi-languages_descriptions, td-multi-languages_titles, and td-multilanguage-value.   Note that this issue will also be addressed if multi-language titles and descriptions are added to address other issues already posted, eg for missing examples of these features in actions and events.

[2019-05-31 07:13] mmccool opened #723 "[Testing] Additional implementations are needed for Property features"
Additional implementations are needed for the following property features:
- [x] ~~2 additional implementations of td-property-names_const~~
- [x] ~~1 additional implementation of td-property-names_titles and td-property-name_descriptions~~
- [x] ~~1 additional implementation of td-property-names_format~~
- [x] ~~1 additional implementation of td-property-names_items~~
- [x] ~~2 additional impleme

[2019-05-31 07:15] mmccool opened #724 "[Testing] Additional implementations are needed for Link features"
Additional implementations are needed for the following Link features:
- [x] 2 additional implementations of the anchor feature (see td-vocab-anchor--Link)

[2019-05-31 07:26] mmccool opened #725 "[Testing] Additional implementations are needed for Security features"
Additional implementations are needed for the following Security features:
- [x] 2 additional implementations of `@type` (td-vocab-at-type--SecurityScheme)
- [x] 1 additional implementation each of description and descriptions (td-vocab-description--SecurityScheme, td-vocab-descriptions--SecurityScheme).   Note: title or titles does not exist in SecurityScheme.
- [x] 1 additional implementation of

[2019-05-31 07:29] mmccool opened #726 "[Testing] Test results for op in Form seem to be incorrect"
Test results for op in Form are coming back as "not implemented" from AssertionTester although they exist.  The test should be for at least one valid value; it is not necessary to check for all possible valid values.

[2019-05-31 07:32] mmccool opened #727 "[Testing] Additional implementations needed for Thing features"
Additional implementations are needed for the following Thing features:
- 1 additional implementation of titles and descriptions (td-vocab-titles--Thing, td-vocab-descriptions--Thing)

[2019-05-31 07:36] mmccool opened #728 "[Testing] Test results for type in DataSchema seem to be incorrect"
The results from AssertionTester currently show no passes but clearly this feature is being used.   It is possible that not all possible values for this parameter are being used, but it should be acceptable to accept use of type with a single valid value in any given TD.  Note also that support for the various possible types is tested separately.

[2019-05-31 07:40] mmccool opened #729 "[At-Risk] Implementations of proxy feature in SecurityScheme needed"
The "proxy" feature in SecurityScheme is at risk.
- 2 additional implementations are needed, in any SecurityScheme

[2019-05-31 07:42] mmccool opened #730 "[At-Risk] Implementations of OAuth2SecurityScheme needed"
The OAuth2SecurityScheme is currently at risk.
- 2 full implementation (with all sub-features, including the various flows) are needed

[2019-05-31 07:43] mmccool opened #731 "Bringing back PoP Security Scheme"
The PoPSecurityScheme is currently at risk.
- 2 implementations of all features are needed

[2019-05-31 07:44] mmccool opened #732 "[At-Risk] Implementations of CertSecurityScheme needed"
The CertSecurityScheme is currently at risk
- 2 implementations are needed with all sub-features

[2019-05-31 07:45] mmccool opened #733 "[At-Risk] Implementations of PSKSecurityScheme needed"
The PSKSecurityScheme is currently at risk.
- [x] 1 additional implementation is needed

[2019-05-31 07:47] mmccool opened #734 "[At-Risk] Implementations of qop feature of DigestSecurityScheme needed"
The qop feature of the DigestSecurityScheme is currently at risk
- 2 additional implementations are needed

[2019-05-31 07:48] mmccool opened #735 "[At-Risk] Implementations of PublicSecurityScheme needed"
The PublicSecurityScheme is currently at risk
- 2 additional implementations are needed

[2019-05-31 07:50] mmccool opened #736 "[At-Risk] Implementations of APIKeySecurityScheme needed"
The APIKeySecurityScheme is currently at risk
- 2 additional implementations are needed

[2019-06-01 07:51] mmccool opened #737 "[Testing] Additional Manual Validation for IANA Requirements Needed"
Additional implementations need to manually assert compliance with the following IANA assertions:
- [ ] iana-security-alter
- [x] iana-security-expansion
- [x] iana-security-remote

Note that these can only be asserted by Consumer implementations.

[2019-06-01 07:58] mmccool opened #738 "[Testing] Additional Manual Validation Needed for Text Direction Assertions"
Text-direction assertions are constraints on the rendering of strings found in TDs and so must be validated in Consumers with multilanguage text display capabilities.

Additional manual validation is needed for the following assertions, which have to do with selection of the base text direction:
- [x] td-context-default-language-direction-heuristic
- [x] td-context-default-language-direction-indep

[2019-06-01 08:10] mmccool opened #739 "[Testing] Implementations of Digest QoP sub-feature needed"
Default values depend on the behavior of a Consumer and can't be checked by inspecting TDs.

The following default value assertions need additional manual validations:
- [x] td-default-idempotent
- [x] td-default-in-basic
- [x] td-default-in-digest
- [x] td-default-op-actions
- [x] td-default-op-events
- [x] td-default-op-properties

The following also need manual assertion but are associated with

[2019-06-01 08:14] mmccool opened #740 "[Testing] Manual Validation needed for ExpectedResponse contentType Assertion"
Additional validation is needed for
- [x] td-expectedResponse-contentType

As this depends on runtime behavior, it can't be checked just by analyzing the TD.

[2019-06-01 08:18] mmccool opened #741 "[Testing] Manual Validation is needed for Multilanguage Assertions"
The following need additional validation:
- [x] td-multi-languages-consistent
- [x] td-multilanguage-language-tag
- [x] td-titles-descriptions
- [x] td-ns-multilanguage-content-negotiation
- [x] td-ns-multilanguage-content-negotiation-no-multi

Note however that there is an ambiguity in td-titles-descriptions which is why there are some "failures" in the test results.   A PR to resolve this ambigu

[2019-06-01 08:25] mmccool opened #742 "[Testing] Manual Validation is Needed for Security Assertions"
The following needs additional validations:
- [x] td-security-bearer-format-extensions

The following also need validation but are associated with at-risk features (and so are a lower priority than the above):
- [x] td-security-oauth2-code-flow
- [ ] td-security-oauth2-implicit-flow
- [ ] td-security-oauth2-password-client-flow

[2019-06-01 08:29] mmccool opened #743 "[Testing] Automated Tests Needed for Some "Manual" Assertions"
The following assertions are currently listed as a manual assertions but could be tested automatically.   In a pinch we could handle these as a manual assertions, however.

The following are also mentioned in Issue https://github.com/w3c/wot-thing-description/issues/741:
- [x] td-multi-languages-consistent
- [x] td-multilanguage-language-tag
- [x] td-titles-descriptions

The following are also men

[2019-06-01 08:44] mmccool commented on #701
Looks like this was fixed already in the CR version, too, by @ashimura

[2019-06-01 09:18] mmccool commented on #738
So it's going to be harder to come up with test cases for direction-script than I thought.   My original idea was to generate some simple test cases (say, for a Light) using online translators but apparently az-Arab is only used in Iran, and all the online dictionaries, wikipedia, and google translate seem to only support az-Latn.  If anyone knows of a translator that can output az-Arab that would

[2019-06-01 09:34] mmccool commented on #738
So... I found the following OSS tool to convert Azeri scripts: http://azconvert.sourceforge.net.  It only runs on Windows though, and I'm not entirely confident about installing this on my work Windows machine, for security reasons.   I do have a sandboxed/sacrificial Windows machine I could use for this purpose, though; once I generate a few text examples I will share them here.

[2019-06-01 14:11] egekorkan commented on #743
td-multi-languages-consistent
    td-multilanguage-language-tag
    td-titles-descriptions

These are not _that_ easy to check since they cannot be checked with an assertion schema. I will need to write a javascript code that can check them. Not difficult but not in a pinch either

[2019-06-01 16:40] mmccool commented on #738
See new intel-camera TD.   Test results updated, which addressed some of the multilanguage testing gaps and provides a test case for the consumers needed for the above assertions.

[2019-06-01 16:44] mmccool commented on #727
I added titles and descriptions to two Intel implementations so we now have three each and can close this issue.

[2019-06-01 16:44] #727 closed

[2019-06-01 16:46] mmccool commented on #722
I added descriptions and titles to two Intel implementations so we now have three each for all these assertions.  This issue is now resolved can be closed.

[2019-06-01 16:46] #722 closed

[2019-06-01 16:49] mmccool commented on #723
I added property titles and descriptions to an Intel implementation and resolved the problem with td-property-names_titles and td-property-name_descriptions.   Issue description has been updated.

[2019-06-01 16:51] mmccool commented on #717
- updated intel-camera to have action titles and descriptions resolving td-action-names_titles and td-action-names_descriptions
- added intel-inference.jsonld which uses an "output" data schema on an action, resolving td-action-names_output and td-action-objects_output.
Description has been updated.

[2019-06-01 16:54] mmccool commented on #718
- Added some titles and descriptions to some data schemas in Intel TDs, resolving the issue with td_data_schema_descriptions and td_data_schema_titles

The description has been updated to strike these out.

[2019-06-01 16:56] mmccool commented on #718
I also added an additional example of minItems in an array

[2019-06-02 11:58] mkovatsc commented on #719
node-wot can handle any method as HTTP or CoAP client.

For the server part, a corresponding TD backed by a simple PHP script or whatever would hold.

[2019-06-02 12:03] mkovatsc commented on #720
I still doubt we need the titles/descriptions mechanism in all possible contexts. It is overall the same mechanism and a single entry in the report should suffice.

uriVariables works slightly different in Actions (only input) than Events (subscription and cancellation). I think we need a TD that declares different URI variables for subscription and cancellation.

[2019-06-02 12:39] egekorkan commented on #743
td-multi-languages-consistent has been added
it was not mentioned here but td-security-scheme-name was also not being tested

[2019-06-04 15:10] egekorkan commented on #743
`td-multilanguage-language-tag` is added as well

[2019-06-05 10:43] egekorkan commented on #743
td-titles-descriptions are also added now

[2019-06-05 13:21] egekorkan commented on #743
All the assertions mentioned are now tested automatically

[2019-06-05 13:42] egekorkan commented on #728
this is happening due to child assertions

[2019-06-05 15:27] egekorkan commented on #726
This is due to child assertions

[2019-06-06 12:04] egekorkan commented on #726
It can be closed now?

[2019-06-06 12:08] egekorkan opened #747 "[Testing] Additional Implementations need to cover the op values"
Currently the following op values need additional implementations:
* [x] readmultipleproperties
* [x] writemultipleproperties
* [x] writeallproperties
* [x] unobserveproperty

[2019-06-06 12:13] egekorkan commented on #718
It seems that there is a problem with `td-data-schema-maxItems` since the output of [this](https://github.com/w3c/wot/blob/master/testing/tests/2019-05/outputs/Siemens/siemens-node-wot/dataSchemaTest-siemens.csv) shows that it is implemented.

[2019-06-06 12:14] egekorkan commented on #718
Same for `_oneOf`

[2019-06-06 12:16] egekorkan commented on #721
This is already tested but the online results show null. Are you sure that you have taken the latest version of manual assertions?

[2019-06-06 12:27] egekorkan commented on #723
oneOf is actually implemented in [this](https://github.com/w3c/wot/blob/master/testing/tests/2019-05/outputs/Siemens/siemens-node-wot/dataSchemaTest-siemens.csv) but does not appear in the report.

[2019-06-06 12:28] egekorkan commented on #723
maxItems is actually implemented in a data schema in [here](https://github.com/w3c/wot/blob/master/testing/tests/2019-05/inputs/Siemens/siemens-node-wot/dataSchemaTest-siemens.json) but it is not in the property level.
@sebastiankb or @danielpeintner can you provide a TD that has maxItems in the property level?

[2019-06-06 12:48] egekorkan opened #748 "[Testing] Additional Implementations needed for Form features"
td-vocab-contentCoding--Form needs another implementation than node-wot.
The results in [here](https://github.com/w3c/wot/blob/master/testing/tests/2019-05/outputs/Siemens/siemens-node-wot/fullInteractionsTest-siemens.csv) say that it is implemented but doesn't appear in the report

[2019-06-06 12:52] egekorkan opened #749 "[Testing] Additional implementations required for BearerSec"
None of the implementations with Bearer Security Scheme do not have an `in` key. This results in td-vocab-in--BearerSecurityScheme having 0 implementations. I see that Panasonic have a lot of TDs with bearer but do not specify 'in' key. Could you add these @ToruKawaguchi or @yamagile ?

[2019-06-06 12:59] egekorkan opened #750 "[Testing] Additional Implementations required for Basic Sec"
None of the provided implementations that already have basic security scheme provide the name for the parameter. This results in td-vocab-name--BasicSecurityScheme having 0 implementations.

Intel @mmccool , Fujitsu @mryuichi , Siemens @sebastiankb @danielpeintner and Oracle @mlagally  can provide this by simply adding a name in the security scheme

[2019-06-06 13:02] yamagile commented on #749
@egekorkan Sure. I can add `in` key to some TDs in the next coffee break.

[2019-06-06 13:41] yamagile commented on #749
@egekorkan done! see w3c/wot#809 .

[2019-06-06 13:51] mmccool commented on #747
These seem to be included in TestThing for node-wot but are not being picked up somehow.   I will investigate.

[2019-06-06 14:05] mmccool commented on #717
Intel has also created the other uriVariables

[2019-06-06 14:11] mmccool commented on #718
Intel will generate an example for each of _oneOf and _maxItems

[2019-06-06 14:14] mmccool commented on #718
Siemens will take care of format

[2019-06-06 14:16] mmccool commented on #718
maxItems apparently has one implementation which is not showing up (from Siemens) but a second one is needed.   I already said above that I would add an implementation (and fix the report generator).

[2019-06-06 14:19] egekorkan commented on #747
But TestThing is not in the inputs

[2019-06-06 14:24] mmccool commented on #718
Apparently minItems has two implementations but only one is showing up.  Fix report generator.

[2019-06-06 14:24] mmccool commented on #718
Unit also has (at least) two implementations, one from Siemens, and one Panasonic.  Fix report generator.

[2019-06-06 14:33] sebastiankb commented on #718
done https://github.com/w3c/wot/commit/ee9c507e88e548bdc52c75d421ec7ab74ce249bf

[2019-06-06 14:37] mmccool commented on #720
Siemens will add implementation of titles and descriptions in events.

[2019-06-06 14:43] mmccool opened #751 "Add a way to supress output lines in implementation report"
Certain items like uriVariables that occur in more than one context (property, events, and actions) but are defined in a single place should have their test results combined for counting purposes.  They already ARE tested in a unified way (where they pass) but fail when considered only in a single context (eg Events).   Given their definition, the test results from the unified context are correct

[2019-06-06 14:55] mmccool commented on #751
There are also items in property that are inherited from DataSchema.   If it passes in DataSchema, the equivalent item in Property should be assumed to pass.   Therefore, suppress results in property that are inherited from DataSchema.

[2019-06-06 14:59] mmccool commented on #721
There are some sub-assertions for td-json-open having to do with byte order.  However, acceptance is a "MAY".   We only need one implementation to do a MAY.   It turns out node-wot uses node.js JSON.parse that throws an error if it sees this... but there is an option to let it accept these.  Node-wot will be updated to use this option (@sebastiankb and @danielpeintner is assigned)

[2019-06-06 15:06] sebastiankb commented on #720
done https://github.com/w3c/wot/commit/3d490bb5381541f99a1313446bfc61d63faae1b4

[2019-06-06 15:07] mmccool commented on #751
Items to suppress include
- td-property-names_(enum,format,const,items,maxItems,minItems,maximum,minimum,oneOf,properties,required,typeunit,writeOnly,readOnly)

[2019-06-06 15:16] mmccool opened #752 "DISCUSS: Can we Relax Implementation Requirements for Extensions?"
It is hard to have implementations for extension points, e.g. support for future bearer token formats and algorithms.

[2019-06-06 15:19] mmccool commented on #742
We need to invent a new bearer format, maybe an "eatme" format with the string "Eat Me" in a file as the token, and a corresponding vocabulary extension.

[2019-06-06 15:38] egekorkan opened #753 "[Testing] td-titles-descriptions is tested wrongly"
Assign=> @egekorkan @mmccool

[2019-06-06 15:43] mmccool commented on #724
@mkovatsc and @mmccool will create implementations.   Basically this is used to declare a relationship between two other entities given by URLs.

[2019-06-06 15:44] mkovatsc commented on #724
I can provide a TD + implementation for a Thing (Room) that has two sub-Things and the knowledge that the (LightBulb) is related to the (LightSwitch), which is expressed through a link with anchor (LightBulb) and target (LightSwitch).

[2019-06-06 15:45] mmccool commented on #725
@mmccool  will do two implementations for td-vocab-at-type--SecurityScheme

[2019-06-06 15:46] mkovatsc commented on #724
@mmccool can make a link statement with Web resources, e.g., a relation between a documentation (https://...) and a support contact (mailto:...)

[2019-06-06 16:01] mkovatsc commented on #750
@yamagile will add `"name": "Bearer"` to the Bearer Token TD(s) where they already have `"in": "header"`.

[2019-06-06 16:01] mkovatsc commented on #750
@mmccool will add similar entries for digest and basic.

[2019-06-06 16:05] egekorkan commented on #753
This is actually not tested wrong but the implementations have problems

[2019-06-06 16:05] #753 closed

[2019-06-06 16:09] mmccool commented on #747
It looks like even so we need additional implementations for readmultipleproperties, write(all,multiple)properties and (the hard one) unobserveproperties

[2019-06-06 16:13] yamagile commented on #750
@mkovatsc my [TD](https://github.com/w3c/wot/blob/master/testing/tests/2019-05/inputs/Panasonic/panasonic-server-real/cleaner_p1.jsonld) has `"name": "Authorization"`. Is it incorrect? (What document should I refer?)

[2019-06-06 16:15] mmccool commented on #747
@mkovatsc will look at a producer to connect with node-wot, which is able to consume TDs with such features.  Will address td-vocab-op--Form_writemultipleproperties, td-vocab-op--Form_readmultipleproperties, td-vocab-op--Form_writeallproperties

[2019-06-06 16:16] mmccool commented on #747
@danielpeintner will address td-vocab-op--Form_unobserveproperty

[2019-06-06 16:22] mmccool commented on #729
Apparently node-wot implements this, so we need a producer (not implemented via node-wot) that goes through a proxy and is accessed by node-wot.
@danielpeintner and @mmccool and @sebastiankb to collaborate on this.  @mmccool can create a target implementation and a proxy, node-wot can talk to it.

[2019-06-06 16:31] yamagile commented on #750
My [TDs](https://github.com/w3c/wot/blob/master/testing/tests/2019-05/inputs/Panasonic/panasonic-server-real) has `"name": "Authorization"` and `"in": "header"`. 👍

[2019-06-06 22:47] mmccool commented on #751
Done.

[2019-06-06 22:47] #751 closed

[2019-06-06 22:48] mmccool commented on #728
fixed, I think.

[2019-06-06 22:48] #728 closed

[2019-06-06 22:51] mmccool commented on #750
I also added these for basic and digest, so these all pass now.  However, we should discuss whether the correct value is "Authorization", "Authorization: Basic" or "Basic".

[2019-06-06 22:51] #750 closed

[2019-06-06 22:52] mmccool commented on #748
appears in the report now.  all node-wot results were getting dropped due to a malformed manual csv file, which I fixed.

[2019-06-06 22:55] mmccool commented on #743
Not sure test for td-titles-descriptions is correct.   I am seeing failures in intel-inference.json, but I am pretty sure it is correct.  All other TDs are failing, too.

[2019-06-06 22:59] mmccool commented on #724
So, there is one implementation and since this is an optional feature that is sufficient.   We can consider closing this, although I could probably add some examples still if it made sense.

[2019-06-06 23:12] mmccool commented on #723
resolved by suppressing assertions in property that are inherited from DataSchema; what we really care about is whether these are taken care of in some DataSchema.

[2019-06-06 23:12] #723 closed

[2019-06-06 23:19] k-toumura commented on #738
@mmccool @mkovatsc This is screenshot of bidirectional support in Node Generator.
<img width="968" alt="Screen Shot 2019-06-07 at 1 11 15" src="https://user-images.githubusercontent.com/30313213/59072001-345bae00-88c1-11e9-9cd3-69a56734f1af.png">
To support it, Node Generator adds `dir="auto"`(not `rtl`) attribute for each element.
Is this your expected result?

[2019-06-07 07:32] mkovatsc commented on #742
We do not only need a custom `format`, but also `alg`. It can follow the same dummy approach as above to mock any potential future use.

[2019-06-07 07:35] mmccool commented on #737
Need two more manual assertions for iana-security-alter.  Pretty much any consumer at present can say yes to this.  Volunteers: @danielpeintner  (node-wot) and @k-toumura (node-red generator).

[2019-06-07 07:39] #743 closed

[2019-06-07 07:44] egekorkan commented on #748
Now there is 1 implementation for a MAY assertion. Can be closed

[2019-06-07 07:44] #748 closed

[2019-06-07 07:51] mmccool commented on #738
The td-context-default-language-direction-script can be tested automatically since it is a property that the TD must satisfy.   For now, I can manually assert it (and Intel has two separate implementations).
The above Node-RED implementation satisfies the td-context-default-language-direction-heuristic.   @k-toumura can update the Node-RED implementation to also have an inference from the language

[2019-06-07 07:59] mmccool commented on #738
See https://www.w3.org/International/questions/qa-html-dir; IMO doing the inference of the direction satisfies our objectives here, although ideally we also convince the browser to render the strings correctly.

[2019-06-07 08:10] mmccool commented on #719
The existing assertions are from Hitachi, but node-wot also implements these and should assert them.  Matthias @mkovatsc has confirmed that node-wot implements these defaults and we have updated https://github.com/w3c/wot/blob/master/testing/tests/2019-05/inputs/Siemens/siemens-node-wot.csv.
See https://github.com/eclipse/thingweb.node-wot/blob/master/packages/binding-http/src/http-client.ts

[2019-06-07 08:21] mmccool commented on #719
We did a code check and node-wot implements defaults for apikey, bearer, and basic, but does not explicitly mention digest.   We have updated the manual assertions accordingly, but digest still needs to be checked.  @danielpeintner and @mkovatsc can you please sort that out?

[2019-06-07 08:24] mmccool commented on #739
We did a code check and node-wot implements defaults for td-default-(name,in)-(apikey, bearer, basic), but does not explicitly mention digest. We have updated the manual assertions accordingly, but digest still needs to be checked. @danielpeintner and @mkovatsc can you please sort that out?

[2019-06-07 08:28] mmccool commented on #741
I @mmccool can take care of content negotiation as part of my proxy implementation.
Also node-wot can be updated to do this: @danielpeintner and @mkovatsc
It might also be possible for @k-toumura to do it in Node-RED (consumer side).

[2019-06-07 11:24] mmccool commented on #742
I want to emphasize again that the actual implementation can be an existing format and alg, just as jwt (or whatever is already implemented).   All we really need is a test of the extension mechanism, and do that we can just "rename" an existing format and alg to mock up an extension.

[2019-06-07 11:33] mmccool commented on #740
Test requirements satisfied, closing.

[2019-06-07 11:33] #740 closed

[2019-06-07 11:36] mmccool commented on #739
Still some outstanding tests needed, but the only one that is not at-risk is in-digest.

[2019-06-07 12:02] mmccool commented on #734
Done!

[2019-06-07 12:02] #734 closed

[2019-06-07 12:11] mmccool commented on #730
@mmccool to create a PR that limits support to the code flow.   We have a code flow implementation from Panasonic, both a producer and a consumer, and also a simulator and real device.  @ToruKawaguchi  to work on this.

[2019-06-07 13:28] benfrancis opened #757 "Reconsider security & securityDefinitions being mandatory"
Previously discussed in https://github.com/w3c/wot-thing-description/issues/165 and https://github.com/w3c/wot-thing-description/issues/230

The main rationale for making the security member mandatory seems to be using the verbose nature of defining "no security" in every Thing Description as a source of irritation for web thing developers to encourage them to instead provide some kind of security

[2019-06-07 15:18] sebastiankb commented on #696
I will take of it

[2019-06-07 15:20] sebastiankb commented on #686
there is no respec issue anymore. I close this issue

[2019-06-07 15:20] #686 closed

[2019-06-07 15:25] sebastiankb commented on #752
can you be more clear about this? is this more implementation or TD issue?

[2019-06-07 15:38] sebastiankb commented on #713
I will take care of it.

[2019-06-07 15:45] sebastiankb commented on #714
ok, make sense.
Since I dont't know how the latest OCF spec looks like, I would simple fix the bug by adding  "op": "readproperty"

[2019-06-07 15:51] sebastiankb commented on #711
ok, I will take care of it

[2019-06-07 20:55] sebastiankb commented on #711
done

[2019-06-07 21:06] sebastiankb commented on #713
done, PR available

[2019-06-07 21:21] sebastiankb commented on #714
done, PR available

[2019-06-10 02:28] mmccool commented on #752
This specifically relates to assertions like td-security-bearer-format-extensions, which require that the TD support extensions.   However, to test this, we need to implement an extension.   But extensions are intended for future features, so we can only test it with a "made-up" extension.   See https://github.com/w3c/wot-thing-description/issues/742.

What we decided in the meeting however (proba

[2019-06-10 02:29] mmccool commented on #752
We can probably close this issue since we decided in this particular case that we can provide a test.   But the point was testing a feature intended to support FUTURE features is a little challenging.

[2019-06-10 02:30] mmccool commented on #752
As to whether this is a TD or an implementation issue, it is both; or rather, it is a testing issue; it relates to a TD feature that needs an implementation for testing.

[2019-06-10 02:47] mmccool commented on #757
The issue of this being mandatory or not aside, here is how this can be made less verbose: allow "anonymous" securityDefinitions to be included inside security tags.   This avoids the need for a separate securityDefinition and simplifies things in the common case where the same security scheme is used globally.   Basically we would have to allow either strings (referring to previous definitions) o

[2019-06-10 02:49] mmccool commented on #757
Another option for making "nosec" definitions shorter would be to have a predefined "nosec" SecurityScheme object.   Then the minimum would look like
[code]

[2019-06-10 02:51] mmccool commented on #724
Since we have enough implementations of this to satisfy PR requirements I am going to close.

[2019-06-10 02:51] #724 closed

[2019-06-10 03:02] mmccool commented on #757
To clarify a few other points:
- There was no intention that security definitions would be intentionally verbose to "punish" people.  The current design is definitely more verbose than it should be (the result of a lot of to-and-fro and a final compromise reached relatively late in the process) and I intend to improve it.   Likewise the current mandatory requirement was the end result of a lot of

[2019-06-10 12:25] mmccool opened #760 "Update references to "Security and Privacy Guidelines""
The wot-security document is being updated to "Web of Things (WoT) Security and Privacy Guidelines".   Make sure all the references are updated.

[2019-06-11 01:30] mmccool commented on #760
Done: https://github.com/w3c/wot-thing-description/pull/761.   I went ahead and merged it, also.

[2019-06-11 01:30] #760 closed

[2019-06-11 09:56] mmccool commented on #725
Created examples to fulfill all of these, so this issue can be closed.

[2019-06-11 09:56] #725 closed

[2019-06-11 10:00] mmccool commented on #733
There is currently one implementation, so what we have to decide is whether since this is an optional feature (sort of, since you don't HAVE to use the PSK scheme, or any other scheme for that matter) one implementation is sufficient.

[2019-06-11 10:01] mmccool commented on #726
The results are now correct; closing this.

[2019-06-11 10:01] #726 closed

[2019-06-11 10:04] mmccool commented on #737
So iana-security-alter is actually a SHOULD assertion, meaning it is optional.   Since we have at least one assertion it, we can consider this satisfied.   I'm going to update the description to indicate that this is satisfied and close the issue.   Although in theory pretty much every consumer we have can add these to their manual assertions, and should.

[2019-06-11 10:04] #737 closed

[2019-06-11 10:06] mmccool commented on #718
Intel took care of maxItems, oneOf, and null.   These are all satisfied now and I am closing the issue.

[2019-06-11 10:06] #718 closed

[2019-06-11 10:50] mlagally commented on #757
I think the security scheme
`"security": "nosec",`
is descriptive enough and I would prefer it,  however also
`"security": {"scheme": "nosec"},`
is good.

[2019-06-11 23:06] takuki commented on #742
I think the minimum bar for the testing is to let producer generate a TD using an extension (i.e. not one of the predefined values, and make sure a Consumer recognizes that as an extension.

[2019-06-11 23:38] takuki commented on #741
If there is an ambiguity, and there was a failure because of that, we need to clarify that in the spec before PR.

@mmccool , can you describe the nature of the ambiguity?

[2019-06-12 00:59] takuki commented on #738
This [page](http://guide.icherisheher.az/az) (supposed to be created by UNESCO) appears to provide translations between latin and arabic scripts.

For example. "görməli yerlər" (latin) and "معالم" (arabic) are both milestones in English, and so forth.

[2019-06-12 01:47] k-toumura commented on #738
"görməli yerlər" is Azerbaijani in Latin(az-latn) script, but "معالم" is Arabic(ar), not Azerbaijani in Arabic script(az-arab).
Anyway, if an implementation can infer and add 'dir=rtl' when '@language' is 'az-arab', and 'dir=ltr' when 'az-latn', it satisfies the td-context-default-language-direction-script, I think.

[2019-06-12 03:43] takuki commented on #738
As for td-context-default-language-direction-independence assertion, I do not think the assertion belongs to TD specification.

TD is in JSON-LD format, and this constraint should be universal to all JSON-LD implementations whether it is TD or not.

Therefore, I suggest to demote this assertion to a plain statement without asserting qualification.

[2019-06-12 03:57] takuki commented on #721
I do not think this assertion belongs to TD specification. TD is in JSON format which is defined by RFC 8259. This assertion belongs to RFC 8259.

We are not testing RFC 8259. Therefore, I suggest to demote this assertion to a statement without an asserting qualification.

[2019-06-12 04:04] yamagile commented on #730
@mmccool , I created the [PR](w3c/wot#819) on this issue. It makes some assertions passed like below:

---

pass: 0->2

* td-arrays_scopes
* td-security-oauth2-code-flow
* td-vocab-authorization--OAuth2SecurityScheme
* td-vocab-flow--OAuth2SecurityScheme
* td-vocab-in--APIKeySecurityScheme
* td-vocab-name--APIKeySecurityScheme
* td-vocab-refresh--OAuth2SecurityScheme
* td-vocab-scheme--SecuritySch

[2019-06-12 04:12] takuki commented on #738
As for td-context-default-language-direction-script assertion, the current test report shows we need one more implementation.

I think the other implementation can be a simple flowchart and manual generation of a HTML snippet according to the flowchart. This makes the number of implementations 2.

[2019-06-12 04:27] mmccool commented on #757
My point is that we can make the security definitions less verbose and easier to use in the common case... but can still make them mandatory.   We can return to this in the next charter, and I am going to mark this issue that way, but I'd just like to close by saying that the pre-defined string and the anonymous scheme are useful in different ways.  The predefined string for "nosec" makes the mand

[2019-06-12 09:13] yamagile commented on #739
@mmccool , I created the [PR](https://github.com/w3c/wot/pull/819) on this issue. It makes td-default-flow passed.

[2019-06-12 09:19] yamagile commented on #742
@mmccool , I created the [PR](https://github.com/w3c/wot/pull/819) on this issue. It can add 2 passes to result of td-security-oauth2-code-flow.

[2019-06-12 09:21] yamagile commented on #736
@mmccool , I created the [PR](https://github.com/w3c/wot/pull/819) on this issue. It makes some assertions passed like below:

---

pass: 0->2

* td-vocab-in--APIKeySecurityScheme
* td-vocab-name--APIKeySecurityScheme
* td-vocab-scheme--SecurityScheme_apikey

[2019-06-12 12:07] danielpeintner commented on #721
I agree with Taki that this does not really belong to the TD.

Anyhow, I added a quick check to node-wot that removes a potential Byte Order Mark (BOM), see https://github.com/eclipse/thingweb.node-wot/commit/c2278c7fabd80dd0eb3c54d072020814781513e6

[2019-06-12 15:59] mkovatsc commented on #560
Unclear what "Reference" IANA expects:

* https://www.iana.org/assignments/media-types/media-types.xhtml should probably be [W3C][Kazuyuki_Ashimura]
* https://www.iana.org/assignments/core-parameters/core-parameters.xhtml would however be ["Web of Things (WoT) Thing Description", June 2019] -- or July 2019...
* Is this related to the "Published specification" field in the registration request / IA

[2019-06-12 16:03] mkovatsc commented on #560
There was a comment about "clipboard flavor names" that help copy-pasting in OSes. However, I could not find anything related at IANA and there seem to be only the Apple and Microsoft flavors:

https://github.com/w3c/html/issues/227

[2019-06-12 22:19] takuki commented on #752
I think the minimum bar for the extension-point testing is to let producer generate a TD using an extension (i.e. not one of the predefined values), and make sure a Consumer properly recognizes that as something it does not understand.

[2019-06-12 23:01] takuki commented on #649
I added a special thanks sentence for Joerg Heuer.

I also added Soumya Kanti Datta and Benjamin Klotz because I think their efforts on WoT and involvement with the group was not small.

[2019-06-13 00:32] #679 closed

[2019-06-13 00:32] #706 closed

[2019-06-13 00:32] #711 closed

[2019-06-13 00:32] #713 closed

[2019-06-13 00:32] #714 closed

[2019-06-13 09:44] mkovatsc commented on #738
To my understanding, string-meta provides i18n guidance for basically all W3C specs. It is an i18n feature of TD to enforce independent treatment by implementations that display the human-readable text. We also have sufficient implementation coverage, so is this a needed -- or even valid -- change?

[2019-06-13 09:46] mkovatsc commented on #721
I agree that this is redundant, as we clearly build on top of RFC 8259. So even if we remove this, it still applies...

[2019-06-13 12:39] danielpeintner commented on #696
@takuki @sebastiankb the *rendered* version of the changes section still not contains any mentioning about

"Renamed name to title" for Thing

I think this change should be listed and hence I re-opened the issue. Feel free to close it again if you feel differently.

[2019-06-13 17:39] takuki commented on #738
As long as we can successfully test this string-meta level requirement in time, everything is fine.
Please remember we are testing interoperability of TD specification, by testing assertions in TD spec.
I am *not* pushing this.
Just suggesting this test item is not in our critical path if we do not have enough time.

[2019-06-13 21:23] vcharpenay commented on #742
Regarding the assertion on custom bearer tokens, is something like that what you expected?

[code]

As far as I understand, JWT can be substituted by JSON-LD [Verifiable Claims](https://www.w3.org/TR/verifiable-claims-data-model/). I looked at VC examples for the definition above.

[2019-06-14 04:25] takuki opened #769 "Update Recent Changes section for Proposed REC"
The recent changes section need to describe the following items.

- [x] https://github.com/w3c/wot-thing-description/issues/696 - @sebastiankb
- [x] https://github.com/w3c/wot-thing-description/issues/714 - @sebastiankb
- [ ] [fixed mistakes in TD vocabulary UML diagram](https://github.com/w3c/wot-thing-description/commit/df824840dec5bda76b2c3310a696c7b4011f5a63#diff-2b300fa6d666e42846435e06c8459a

[2019-06-14 04:26] takuki commented on #696
I created another issue for this.
Please see issue #769

[2019-06-14 04:27] #696 closed

[2019-06-14 07:42] mkovatsc commented on #757
@benfrancis What you describe actually calls for correctly describing your security mechanism in your TDs. At the moment you basically break interoperability and force all Consumers to learn the Mozilla implementation...

[2019-06-14 10:44] vcharpenay opened #770 "Status of Ontology Documents"
Currently, the vocabulary namespaces mentioned in the TD spec host files that have the **Working Group Note** status. E.g.: https://www.w3.org/2019/wot/td.

Issues:
- a working group note requires the approval of both the WoT WG and the W3C, we can't get both before PR transition.
- future changes to the ontology documents will likely have impact on [Appendix D](https://w3c.github.io/wot-thing-des

[2019-06-15 22:12] mkovatsc opened #772 "TD Processor: Clarify that TD Producer only or TD Consumer only is valid"
We only define "TD Processor":

We even have an assertion that says a TD Processor MUST support both ways:

In reality, however, it is quite normal to only have a TD Producer or a TD Consumer in an implementation, which is backed by the implementation report and even its assumptions.

Thus, we should clarify that it is valid to only implement TD Producer or TD Consumer and maybe improve the wordin

[2019-06-15 22:17] mkovatsc commented on #747
I implemented the [Meta-Interaction Thing](http://18.197.93.117/), which provides all meta interactions.

[2019-06-15 22:23] mkovatsc commented on #742
@vcharpenay This sounds great -- @msporny can you maybe clarify if Verifiable Credentials can be applied to the HTTP Auhorization header field?

To be safe, I implemented the [Meta-Interaction Thing](http://18.197.93.117/), which also secures one Property with a fictional [Useless Web Token](http://18.197.93.117/useless-web-token#). @vcharpenay could you maybe check if my TD Context Extension is m

[2019-06-15 22:25] mkovatsc commented on #741
@danielpeintner added language negotiation to node-wot.

To second this, I implemented the [Meta-Interaction Thing](http://18.197.93.117/), which also supports language negotiation (en and de).

@k-toumura could you maybe do another end-to-end test with your negotiating TD Consumer?

[2019-06-16 04:00] k-toumura commented on #741
@mkovatsc End-to-end test with Meta-Interaction Thing and nodegen is passed.
For example, following command generates a German localized node.
`% ./node-red-nodegen.js http://18.197.93.117/ --name meta-de --wottd --lang de`

Sample screenshot is below:
![Screen Shot 2019-06-16 at 12 50 45](https://user-images.githubusercontent.com/30313213/59558797-73160480-9035-11e9-80f5-ff84ab7c04a8.png)
Nodes i

[2019-06-16 10:28] mkovatsc opened #774 "TD Producer field in TD (similar to Server header field in HTTP)"
Trying to make full sense out of the implementation report, I noticed that it would help a lot for testing, but also later for monitoring the ecosystem, if we had an equivalent to the `Server` header field in HTTP.

I propose to add a top-level field in the next (minor) TD revision.

`tdProducer` could be a starting point for thinking about naming; please chime in!

[2019-06-17 11:42] egekorkan opened #775 "Dead links in the implementation report"
In the implementation report there are the following links that results with 404 when clicked:
* http://www.w3.org/TR/ at line 183
* http://www.w3.org/TR/2019/PR-xxx/disp.html at line 210

I am fixing the first one but no idea where to direct the second one

[2019-06-17 11:45] mmccool commented on #775
OK, but be aware you need to edit testing/inputs/templates/report.html, not testing/reports.html.   The latter is generated by the "npm run assertions" script and any changes will be overwritten.   I also thought Matthias had made some of these changes already.   It would help if you said what text goes with the above links.

[2019-06-17 11:47] mmccool commented on #752
Right, we just have to verify the extension *mechanism* works...

[2019-06-17 11:58] egekorkan commented on #775
Fixed first one in #776 , any idea where the second one should point to?

[2019-06-18 10:00] mkovatsc commented on #775
Second one, we only have when doing the PR transition.

@ashimura could you please clarify how exactly we get this? I assume we send the PR transition request and then will be informed about this PR handle. However, the report is part of the transition request, no? So chicken-egg...

[2019-06-18 10:27] mkovatsc commented on #775
I fixed the remaining links (actually I removed the base URI complication all together, since relatively pointing to index.html on github.io does not make much sense):

https://w3c.github.io/wot-thing-description/testing/report.html

I also removed the mentioning of Security Best Practices.

@mmccool, @ashimura, could you please check if the [out of scope](https://w3c.github.io/wot-thing-descripti

[2019-06-18 11:04] mkovatsc commented on #770
@ashimura can you please advise how to populate the namespace under https://www.w3.org/2019/wot/ ? Maybe you have to check with Ralph.

We have .ttl ontology files accompanying the TD spec. The idea was to release their HTML documentations as WG Notes. However, we could just put them as HTML documentation documents under the namespace URIs.

[2019-06-19 00:51] takuki commented on #770
During 6/14 telecon, the TD TF discussed this issues that resulted in creating this issue.

* Ontology files are now editor’s draft as suggested by @ashimura
* TD TF suggests to publish ontology documentation after TD PR publication.
  * Question is when? and how? (WG Note? IG Note? or even CG Note?)

[2019-06-19 00:54] takuki commented on #770
@vcharpenay , can you split #744 into two, one of which will not be affected by future ontology file changes? How soon do you think you can make it?

[2019-06-19 09:02] mkovatsc commented on #775
As discussed in the chairs call:
* Out-of-scope can stay that way
* http://www.w3.org/TR/2019/PR-xxx/disp.html can point to the GitHub Issue tracker; I will create a corresponding label

[2019-06-19 09:28] mkovatsc commented on #752
My [Meta-Interaction Thing](http://18.197.93.117/) demonstrates a fictional future extension for a custom bearer token format and algorithm. With thatm the extension point was tested.

I propose to close this issue.

[2019-06-19 09:29] mkovatsc commented on #749
Implementation report reflects this now, closing.

[2019-06-19 09:29] #749 closed

[2019-06-19 09:32] mkovatsc commented on #742
Implementation report has 2 `pass` for td-security-oauth2-code-flow

[2019-06-19 09:33] mkovatsc commented on #742
td-security-oauth2-implicit-flow and td-security-oauth2-password-client-flow are not implemented, but at-risk features.

[2019-06-19 09:36] mkovatsc commented on #775
Done.

[2019-06-19 09:36] #775 closed

[2019-06-19 09:38] mkovatsc commented on #770
@ashimura confirmed during the chairs call on 19 June 2019 that we can populate the namespaces with the ontology files and use an "Editors' Draft" stylesheet for the HTML documentation files.

@vcharpenay Can you please adapt the files accordingly?

[2019-06-19 09:45] mkovatsc commented on #769
This was for appropriate use of the `@type` annotation for Thing and Property.

[2019-06-19 09:48] mkovatsc commented on #741
@k-toumura Great, thank you very much!
Closing.

[2019-06-19 09:48] #741 closed

[2019-06-19 09:50] mkovatsc commented on #730
We have implementations for OAuth 2 code flow.
Ideally, we only drop the unimplemented sub-features, but keep the security scheme `oauth2` for code flow.

[2019-06-19 09:52] mkovatsc commented on #742
This is now a duplicate of https://github.com/w3c/wot-thing-description/issues/730

Closing.

[2019-06-19 09:52] #742 closed

[2019-06-19 09:54] mkovatsc commented on #739
My [Meta-Interaction Thing](http://18.197.93.117/) implements Digest.

[2019-06-19 09:55] mkovatsc commented on #739
The open issues are now limited to the PoP Token feature, which is at-risk.

[2019-06-19 09:59] mkovatsc commented on #736
Thanks @yamagile for providing APIKeySecurityScheme implementations!
Closing.

[2019-06-19 09:59] #736 closed

[2019-06-19 10:02] mkovatsc commented on #738
Thanks to @k-toumura and @danielpeintner for providing implementations through their WoT UI projects!
Closing.

[2019-06-19 10:02] #738 closed

[2019-06-19 10:04] mkovatsc commented on #735
I am happy to defer this and provide it, for instance together with the CoAP binding vocabulary.

I actually already dislike the name of the scheme -- it is for Raw Public Keys, not a public scheme. Detailed fields for the metadata are also missing. Let's fix this together with CoAPS experts.

[2019-06-19 10:08] mkovatsc commented on #733
We have two implementations, one by SmartThings (IKEA Tradfri wrapper), one by myself (Californium-based). Actually, it should be three, as I implemented this in node-wot, but there is no manual validation ID for this.

However, detailed fields for the metadata are also missing, e.g., named curve or ciphersuite. Thus, I am happy to defer this and provide it, for instance together with the CoAP bin

[2019-06-19 10:11] mkovatsc commented on #732
I am happy to defer this to the next version, as there is not enough information provided for this scheme. It is for client certificates, which are rarely used for HTTP.

Let's do this properly when tackling CoAP(S), where it is mainly needed.

[2019-06-19 10:14] mkovatsc commented on #739
I am removing the "by PR transition" label, as these at-risk features will be dropped given the implementation report.

[2019-06-19 10:15] mkovatsc commented on #739
The PoPSecurityScheme part is actually a duplicate of https://github.com/w3c/wot-thing-description/issues/731. Adjusting title for better at-risk tracking (QoP only).

[2019-06-19 10:19] mkovatsc commented on #731
I am removing the "by PR transition" label, as these at-risk features will be dropped given the implementation report.

[2019-06-19 10:23] mkovatsc commented on #721
Anyhow, we cannot just remove assertions. And we have enough implementation results now.
Closing.

[2019-06-19 10:23] #721 closed

[2019-06-19 10:27] mkovatsc commented on #720
Here the test case was actually wrong: all fields are defined for `InteractionAffordance`, hence, they can be tested on any instance of that class (i.e., any Property, Action, or Event).

The report actually follows the fixed test case. Closing.

[2019-06-19 10:27] #720 closed

[2019-06-19 10:31] mkovatsc commented on #719
We now have 3..4 positive results for each.
Closing.

[2019-06-19 10:31] #719 closed

[2019-06-19 10:32] mkovatsc commented on #717
Implementation report shows enough positive results.
Closing.

[2019-06-19 10:32] #717 closed

[2019-06-19 10:34] mkovatsc commented on #715
All full examples should have that.

[2019-06-19 10:37] mkovatsc commented on #710
During the F2F we concluded to skip this.

[2019-06-19 10:37] #710 closed

[2019-06-19 10:38] mkovatsc commented on #712
This is actually a good comment that only came up during CR period.

[2019-06-19 10:39] mkovatsc commented on #708
See https://github.com/w3c/wot-thing-description/issues/770

[2019-06-19 10:39] #708 closed

[2019-06-19 10:40] mkovatsc commented on #699
We concluded not to have this, as it is covered by the implementation report.

[2019-06-19 10:40] #699 closed

[2019-06-19 10:41] mkovatsc commented on #698
We now have an updated Example 28.
Also see https://github.com/w3c/wot-thing-description/issues/769

[2019-06-19 10:41] #698 closed

[2019-06-19 10:45] mkovatsc commented on #701
Implementation report looks correct.
Closing.

[2019-06-19 10:45] #701 closed

[2019-06-19 10:46] mkovatsc commented on #702
Was merged and implementation report looks fine now.
Closing.

[2019-06-19 10:46] #702 closed

[2019-06-19 10:59] mkovatsc commented on #752
Closing, as this is no a non-issue.

[2019-06-19 10:59] #752 closed

[2019-06-19 12:29] mkovatsc commented on #715
Given the limited time, it seems to be a risk to introduce errors.

[2019-06-19 12:36] mkovatsc commented on #712
In the call on 19 June 2019 we had enough feedback that this is clear enough to enough implementers, so no need to rush this. We can provide further tutorials etc. later.

[2019-06-19 12:45] mkovatsc commented on #772
Resolution: Clarify in the definition of TD Processor with an additional sentence that a Processor can be TD Consumer only, TD Producer only, or both. Fix td-processor assertion to say and/or instead of only and (meaning both)

[2019-06-19 15:44] takuki commented on #700
Fixed. See https://github.com/w3c/wot-thing-description/pull/780 .

[2019-06-20 09:20] mkovatsc commented on #747
Thanks, @egekorkan, for the additional unobserve Thing!

[2019-06-20 09:20] #747 closed

[2019-06-20 09:22] mkovatsc commented on #700
Thanks, @takuki !

[2019-06-20 09:22] #700 closed

[2019-06-20 09:53] mkovatsc commented on #772
See 781

[2019-06-20 18:52] mkovatsc commented on #772
#781 was merged.

[2019-06-20 18:52] #772 closed

[2019-06-20 18:53] mkovatsc commented on #770
#782 was merged and ontology documentation updated through #783

[2019-06-20 18:53] #770 closed

[2019-06-20 18:54] mkovatsc commented on #769
All and changes beyond addressed in #784

[2019-06-20 18:54] #769 closed

[2019-06-21 07:25] mkovatsc commented on #729
Done wit my Meta-Interaction impl and tested with (updated) node-wot.

[2019-06-21 07:25] #729 closed

[2019-06-21 22:13] mkovatsc commented on #739
Having the `qop` term together with the obvious default value `auth` does not hurt and provides an "just-in-case" extension point. Hence, we should leave it in.

[2019-06-21 23:21] benfrancis commented on #757
The anonymous definitions and pre-defined nosec scheme would definitely help to make this less verbose.

@mkovatsc wrote:

We have actually now implemented `securityDefinitions` and `security` members in the Thing Descriptions exposed by our gateway implementation, and it makes exactly zero difference to interoperability. Because Thing Descriptions themselves are authenticated (as is apparently re

[2019-06-22 08:08] draggett commented on #757
I believe we agree that where privacy is a concern, the TD should only be accessible to those who have agreed to respect the owner's privacy. This merits further discussion on the ideas of ownership and agreements between owners and clients in respect to privacy, terms and conditions on the use of data, liability and so forth. This could be called out as something for the WoT IG to consider as it

[2019-06-22 23:48] mmccool commented on #757
The use of name vs title is a whole other discussion.  The reason there is title is due to internationalization requirements, and it allows us to reuse the MultiLanguage class and titles/descriptions fields we had already defined elsewhere.  The intent of title is that it is to be used to identify a device in a human-readable way, eg on a web dashboard.  Internationalization requires such uses to

[2019-06-28 07:27] sebastiankb commented on #637
@aphillips I think, this is issue is addressed with an improved description in https://w3c.github.io/wot-thing-description/#multilanguage and https://w3c.github.io/wot-thing-description/#thing

Proposal to close this issue

[2019-06-28 07:29] sebastiankb commented on #730
@mkovatsc

What does it mean? Do we have to remove some terms from the https://w3c.github.io/wot-thing-description/#oauth2securityscheme ?

[2019-06-28 09:10] mkovatsc commented on #730
We have no positive implementation report for the implicit, password, and client flows. Hence, to my understanding, the corresponding assertions and Vocabulary Terms need to be removed:

* For the implicit flow authorization MUST be included.
* For the password and client flows token MUST be included.
* `string (one of implicit, password, client, or code)` -- in the Type row for the `flow` field o

[2019-07-03 05:27] takuki commented on #730
The flow field currently has a default value of "implicit".
Since "implicit" (which was at risk) goes away and "code" is now the only possible value, this default value needs to be replaced with "code". (section 5.3.3.11)

[2019-07-03 05:49] takuki opened #786 "Move MQTT (and CoAP) example to Protocol Binding Templates document"
In TD call on 6/28, it was suggested to move MQTT (and also CoAP) examples to Protocol Binding Templates document.

[2019-07-03 08:28] mlagally commented on #730
We support the code flow in the IOT-CS.
I have created a corresponding TD at: https://github.com/w3c/wot/pull/829

[2019-07-03 09:38] mkovatsc commented on #730
The TD is for client flow, so I guess that is meant. We still would need a second implementation to keep it.

I think a good lesson learned was that picking a default value for the flow is not a good idea. This is further confirmed by Oracle providing client flow instead of code. We should drop the default value and make `flow` mandatory.

[2019-07-03 10:07] mlagally commented on #730
@mkovatsc You're right of course - we support the client flow.

[2019-07-03 10:31] mlagally commented on #730
@sebastiankb: Siemens uses the client credentials grant in their Mindsphere product:
https://developer.mindsphere.io/apis/core-oauthauthorizationserver/api-oauthauthorizationserver-api-swagger-3-1-0.html

Do you think the Oauth2 client grant flow could be supported by a sample TD from Siemens?

[2019-07-03 13:36] sebastiankb commented on #639
@aphillips I think, this is issue is addressed. As @mkovatsc mentioned above the JSON Schema based `format` term comes with a well-known list of string identifier. @takuki made this point clearer in the specification.

Proposal to close this issue

[2019-07-03 13:38] benfrancis commented on #730
FWIW Mozilla's WebThings Gateway implementation now provides security & securityDefinitions metadata using the oauth2 security scheme (since https://github.com/mozilla-iot/gateway/issues/1951).

This may not fulfil your testing requirements though because despite some further convergence recently the Thing Descriptions still don't validate with the thingweb validator, and the security metadata isn

[2019-07-03 13:45] sebastiankb commented on #640
@aphillips Please let us know if this [explanation](https://github.com/w3c/wot-thing-description/issues/640#issuecomment-490162832) is ok for you.

Proposal to close this issue.

[2019-07-03 18:18] #432 closed

[2019-07-04 14:13] sebastiankb commented on #643
Propose to close this issue. The guideline for handling the basic text direction in a TD instance is clearly described in the specification.

@aphillips Please let us know if there is something missing.

[2019-07-04 14:28] sebastiankb commented on #638
@aphillips please check if the new text is also ok for you.

@mmccool http is just mention as example. There can be other protocols and the `@language` terms is protocol independent anyway.

I propose we close this issue.

[2019-07-04 14:41] sebastiankb commented on #642
@aphillips Please comment if the issue is now addressed. Please see last comment from Matthias.

Propose to close this issue.

[2019-07-05 04:42] takuki commented on #708
I saw #770 .
So it means they can stay as Working Drafts.
Thank you for clarification.

[2019-07-05 11:56] mkovatsc commented on #708
EDITORS' Drafts -- Working Drafts are for REC track documents...

[2019-07-07 08:23] ashimura commented on #708
On Fri, Jul 5, 2019 at 8:57 PM Matthias Kovatsch <notifications@github.com>
wrote:

Right. Editor's Drafts for a while and Group Notes at some point :)

Kazuyuki

—

[2019-07-09 21:42] takuki opened #787 "Move Transformation to RDF (now removed from TD) to TD ontology document"
The Introduction states:

We should reinstate the used-to-be-Appendix D (Transformation to RDF) section in the [TD ontology document](https://www.w3.org/2019/wot/td) because otherwise the quoted text above in the introduction is not very accurate.

Note the appendix section was removed recently as agreed in the main call on June 19.
Please see [here](https://github.com/w3c/wot-thing-description/co

[2019-07-11 05:33] kenchris opened #788 "Explainer: Mention alternative rejected solutions"
In response to https://github.com/w3ctag/design-reviews/issues/357

It is common that explainers have a section listing some of the other solutions that were considered and rejected. This really helps us understand why the chosen solution is better and how you have learned from existing and prior solutions.

[2019-07-11 05:42] kenchris opened #789 "Handle at risk features before publishing as proposed rec"
A comment in the https://github.com/w3ctag/design-reviews/issues/357 says that you plan to publish the spec as a Proposed Recommendations on June 27th, but the spec itself is full of features at risk.

We believe that it would be good to resolve these at risk features before doing so

[2019-07-11 13:53] danielpeintner opened #790 "Retrieve raw JSON data for context namespaces"
FYI: Issue https://github.com/w3c/wot-architecture/issues/374 seems related to the thing description.

How to obtain JSON-LD context files other than `https://www.w3.org/2019/wot/td/v1` ?

[2019-07-11 23:40] dbaron opened #791 "should be clearer about where the definition of the HTTP Protocol Binding is"
There are various parts of the thing description specification that reference the HTTP Protocol Binding.  Most prominently, there's a section [8.3.1 HTTP Protocol Binding](https://w3c.github.io/wot-thing-description/#http-binding-assertions).  This talks a bit about the HTTP Protocol Binding, but there isn't clearly either (a) a definition of the HTTP Protocol Binding or (b) a link to such a defin

[2019-07-12 05:13] takuki commented on #790
I think this is not a comment from TAG.

[2019-07-12 05:27] takuki commented on #790
It appears that https://www.w3.org/2019/wot/td/v1 has also contains other stuff beyond the core vocabulary.

[2019-07-12 06:43] sebastiankb commented on #790
we should wait for @vcharpenay. He is currently on vacation and will be back next week Wednesday.

[2019-07-12 11:39] sebastiankb opened #792 "Remove or update github links in the spec"
The specification contains many references to documents located on github. E.g.,

Web of Things (WoT) Architecture is linked to the architecture document hosted on github. The w3c domain should be used instead.

I will setup a PR about this.

[2019-07-15 08:56] akeranen opened #793 "Name vs title in TD examples"
Some example TDs don't pass validation because of missing mandatory "title" member and Example 2 is still using "name".

[2019-07-15 11:28] sebastiankb commented on #793
This issue was already addressed and is already compiled in the latest [editor draft](https://w3c.github.io/wot-thing-description/) for the PR submit.

[2019-07-15 11:30] sebastiankb commented on #793
also see https://github.com/w3c/wot-thing-description/issues/696

[2019-07-15 16:21] samuelweiler opened #794 "make privacy mitigations mandatory"
During the Privacy IG (PING) call on 20 June 2019, ([minutes](https://www.w3.org/Privacy/IG/summaries/PING-minutes-20190620)) representatives from the WG indicated that the non-normative (and pretty non-specific) privacy and security guidance in section 9 would be clarified in future documents. [PING's view](https://www.w3.org/blog/2019/06/privacy-anti-patterns-in-standards/) is that privacy "[p]r

[2019-07-15 18:22] snyderp commented on #794
Just to second what @samuelweiler said above, PING is having a difficult time evaluating the spec.

This is mostly because the privacy implications of whats described currently depend on the interaction of the data model and the yet-to-be-specified APIs; w/o seeing the forth-coming APIs, and considering both halves in tandem, we can't evaluate the privacy impact.

We're looking forward to giving t

[2019-07-16 20:12] samuelweiler commented on #794
@plehegar

[2019-07-16 21:22] takuki opened #795 "Missing references for WebSub and Server-Sent Events"
Section on [Form](https://w3c.github.io/wot-thing-description/#form) mentions WebSub and Server-Sent Events with direct links to the respective specifications.

They should be listed as normative references.

Note: This is related to Issue #380.

[2019-07-16 22:30] takuki commented on #795
Please see PR #796.

[2019-07-17 00:36] takuki commented on #787
Also, section [5.3.2 Data Schema Vocabulary Definitions](https://w3c.github.io/wot-thing-description/#sec-data-schema-vocabulary-definition) states:

[2019-07-17 06:17] takuki commented on #788
In [7/12 TD telecon](https://www.w3.org/2019/07/12-wot-td-minutes.html), @sebastiankb volunteered to update [TD Explainer](https://github.com/w3c/wot-thing-description/blob/TD-TAG-review/explainer/Explainer.md) add some description about the difference from the design of existing technologies such as OpenAPI and RAML.

[2019-07-17 12:33] mmccool commented on #794
The TD spec itself is a data format whose purpose is to encode and provide metadata.  We agree that some of this metadata is privacy sensitive but we can't remove it without hurting the intended functionality.  So we do have to seek ways to protect privacy via specifying suitable distribution mechanisms.

To clarify, by "API" you mean the (proposed) Thing Directory API used for discovering, access

[2019-07-17 21:33] snyderp commented on #794
@mmccool This kind of sentence is exactly the thing that gets PING worried :)

Can you share some of these uses cases, and privacy preserving alternatives you considered?  Unfortunately, "protect privacy via specifying suitable distribution mechanisms" is not an effective privacy-preservation strategy.

[2019-07-19 06:39] sebastiankb commented on #794
Right now we have the TD call and we had a look into this issue. We would like to propose to have a common web call for next week to clarify all open questions. Is it possible for you to have a call next week Tuesday 23rd or Thursday 25th (8am PT)?

[2019-07-19 09:00] sebastiankb commented on #795
isseu  solved by PR #796

[2019-07-19 09:01] #795 closed

[2019-07-19 23:58] takuki opened #797 "WoT TD ontology HTML document can describe how to retrieve turtle representation"
The [WoT TD Ontology](https://www.w3.org/2019/wot/td) should describe how people can obtain its turtle representation.

Please see this [issue](https://github.com/w3c/wot-architecture/issues/374#issuecomment-512583412) in architecture repo.

The same is true for other WoT ontologies ([JSON Schema Ontology](http://w3c.github.io/wot-thing-description/ontology/jsonschema.html), [Security Ontology](ht

[2019-07-20 00:39] takuki commented on #794
FYI,
I summarized the privacy risks and mitigations described in [section 9](https://w3c.github.io/wot-thing-description/#sec-security-consideration) in a few slides [here](https://github.com/w3c/wot-thing-description/files/3413082/TD.Privacy.pdf).

[2019-07-22 17:58] samuelweiler commented on #794
Not for me.  That is the week of the IETF meeting, and adding remote calls to an IETF meeting week is fraught.

[2019-07-22 18:45] sebastiankb commented on #794
@samuelweiler

Well, if you are also attending the IETF meeting, there might be a chance that you can meet @mmccool there.

[2019-07-24 04:48] takuki commented on #789
The WoT Thing Description TF discussed this issue during 7/12 telecon.
Minutes is available [here](https://www.w3.org/2019/07/12-wot-td-minutes.html#item012).

Excerpt from minutes:

[2019-07-24 04:55] takuki commented on #791
The WoT Thing Description TF discussed this issue during 7/12 telecon.
Minutes is available [here](https://www.w3.org/2019/07/12-wot-td-minutes.html#item012).

Excerpt from minutes:

[2019-07-24 12:30] mmccool commented on #794
Yes, let's have a meeting in person then.  Where and when are you @samuelweiler?  I will send an email... I will be at the T2TRG meetings today (Wed).

[2019-07-24 14:27] snyderp commented on #794
I will be around and could meet Thursday AM before my flight if that would be useful @mmccool @samuelweiler.  8:30 / 9?

[2019-07-26 07:08] sebastiankb commented on #790
In today's TD call, we decided that we should add a better explanation of the relationship between the JSON-LD TD context file and all turtle-based namespaces such as https://www.w3.org/2019/wot/security#, https://www.w3.org/2019/wot/td# ...

@vcharpenay will take care of it

[2019-07-26 07:33] sebastiankb commented on #797
maybe we can merge this issue to this one https://github.com/w3c/wot-thing-description/issues/790

[2019-07-29 11:45] danielpeintner opened #799 "Question: difference between operation types writeallproperties vs. writemultipleproperties"
The concept behind `writeallproperties` and `writemultipleproperties` is very similar. A set of properties is send at once.

I wonder whether these 2 operation types have any difference. Does `writeallproperties` *need* to check in any form whether *all* properties are provided?

[2019-07-29 12:30] sebastiankb commented on #799
the definitions of these operations can be found [here](https://www.w3.org/TR/wot-architecture/#table-operation-types).

This feature will be offered by the producer. As consumer I would expert to get all defined property values that are defined within the `properties` field (also see [here ](https://www.w3.org/TR/wot-thing-description/#td-forms-readall-example) for an example).

In the case of `w

[2019-07-29 12:52] egekorkan commented on #799
However, for `writeallproperties` the consumer still has to provide this selection and this selection SHOULD(?) match all the properties. So should the producer deny `writeallproperties` if all properties are not present in the request of the consumer?

[2019-07-31 00:14] takuki commented on #797
This issue was merged into #790 by @sebastiankb in a [comment](https://github.com/w3c/wot-thing-description/issues/790#issuecomment-515336759).

[2019-07-31 00:16] #797 closed

[2019-07-31 00:19] takuki commented on #799
In my opinion, _writeallproperties_ and _writemultipleproperties_ are different in the following respect.

In _writemultipleproperties_ , only specified properties get changed.

On the other hand, in _writeallproperties_, non-specified properties get their existing values (if any) removed.

[2019-07-31 05:25] egekorkan commented on #799
That means that a TD SHOULND'T have `writeallproperties` and `writemultipleproperties` in the same form?

[2019-07-31 08:53] danielpeintner commented on #799
From the implementation point of view I see this behavior a bit problematic.

Moreover, I am not sure whether this matches the expectation of users. If one property gets forgotten it is suddenly unset.

[2019-08-08 11:14] sebastiankb opened #800 "extend op options with observeallproperties and observemultipleproperties"
for multiple property processing we supporting `readallproperties`, `writeallproperties`, `readmultipleproperties`, and `writemultipleproperties`.

It would be good if we also would support  `observeallproperties` and `observemultipleproperties` for multiple observable use cases.

[2019-08-12 15:48] sebastiankb opened #801 "Rename Thing Template to Thing Description Template / TD Template"
Currently, in [Section C](https://www.w3.org/TR/wot-thing-description/#thing-templates) we use the name `Thing Template` that is a subset of the Thing Description model. For me it would make more sense to call it `Thing Description Template`, or short `TD Template`. This would give a more clear context what the template is about.

Are there some opinions on that? Or, is there anything against incl

[2019-08-16 06:30] takuki commented on #799
In TD telecon, there were several suggestions.

- _writeallproperties_ requires all fields are specified in payload, otherwise it will get an error.
- _writeallproperties_ may be redundant when also having _writemultipleproperties_ in the same form.

The spec needs to be clear on those points.

[2019-08-16 06:43] mlagally commented on #801
I don't think this change is really necessary, since the term has been introduced and used almost a year ago.
There are cases where a Thing Template may be used for other purposes, so an instantiation would not be a TD.

[2019-08-20 11:21] 6d77 opened #803 "Single 'base' field but multiple 'forms' elements"
While each _InteractionAffordance_ can have multiple _forms_ elements targeting multiple protocol bindings, there is only one _base_ field, which applies to all or them. As protocol bindings are selected based on the protocol specifier in the URI, the _base_ field is mainly useless (or at least only usable for a single protocol binding) in such cases.

I thing this is at least an inconsistency in

[2019-08-20 12:27] danielpeintner commented on #803
There have been discussions about this restriction in the past (however I cannot find an actual issue or any other pointer I could share).

Having said that, I personally believe that adding multiple `base`'s and proper linking introduces other issues and adds complexity to implementations. Moreover, I see `base` as a shortcut for common cases and not a generic solution. *Self-contained* URIs seem

[2019-08-20 13:05] 6d77 commented on #803
For me the main benefit of `base` is not _shrinking_, but easily applying a TD template to a specific IP address and port number changing only a single location.  Here `base` can separate the _address_ **varying** between devices of the same type from the _path_, which is **the same** for each of them.

Without `base` you would have the same address information in many places of your TD. In databa

[2019-08-20 13:28] zolkis commented on #803
Which is why Web specs use [origin](https://html.spec.whatwg.org/multipage/origin.html#concept-origin) and [path](https://url.spec.whatwg.org/#concept-url-path) concepts. As I see it, `base` is a kind of `tuple origin` (scheme, host, port, without the domain).

[2019-08-21 04:41] rob-metalinkage opened #804 "rules and test suite for conversion between JSON schema and RDF"
The ontology at
https://w3c.github.io/wot-thing-description/ontology/jsonschema.html
looks promising - but it is light on implementation details.

It explicitly states "defined against schema.org's meta-model" and later provides a mapping from json terms to the RDF.  The latter seems to be a mapping from a concrete implementation of the meta model in JSON, but its not really called out explicitly.

[2019-08-21 11:35] mmccool opened #805 "Improve Explainer with User-Oriented Use Cases"
As requested during TAG review, improve the explainer with end-user oriented use cases and requirements.

[2019-08-29 07:28] mlagally opened #806 "add a new vocabulary term "profile" with a String type"
This is required to be able to distinguish different profiles.

[2019-08-29 22:33] takuki commented on #803
I think this is particularly important for Thing Description Template.

The Thing Description Template is being considered for the next WoT charter period.

For the final TD to be processed at runtime, I think we need to strike a balance between simplicity and usability.

[2019-08-29 23:20] takuki commented on #805
The below figure is from IIC [IICF](https://www.iiconsortium.org/IICF.htm) (Connectivity Framework).

From the end user's point of view, a newly purchased IoT device is not very likely to interoperate with other devices unless all the devices are using the same ecosystem because of this connectivity challenge.

One way to describe end-user benefit is that WoT introduces a single metadata framework

[2019-08-30 06:21] takuki commented on #803
In Aug 30 TD telecon, we found this an usability issue, not a functionality issue in the current TD.
The group will consider the suggested feature in the next TD version.

[2019-08-30 06:37] takuki commented on #804
There is a pending WIP #744, which should address some of the points raised in this issue.

[2019-08-30 06:48] egekorkan opened #807 "server-data-schema and server-data-schema-extras are contradictory (for a first time reader)"
The mentioned assertions are:
[server-data-schema](https://www.w3.org/TR/wot-thing-description#server-data-schema) :  A WoT Thing Description MUST accurately describe the data returned and accepted by each interaction.
[server-data-schema-extras](https://www.w3.org/TR/wot-thing-description#server-data-schema-extras) :  A Thing MAY return additional data from an interaction even when such data is n

[2019-08-30 06:57] takuki commented on #806
In August 30 TD call, it was suggested _profiles_ could be introduced in the current TD version, with the value definition given in external document (i.e. each profile document) where each profile will be identified by an URI.

[2019-08-30 16:58] egekorkan opened #808 "Proposals are referenced by Google and have wrong date"
Similar to the need to create have an ARCHIVE repo on w3c/wot we need it here. E.g. searching for `simplified thing description w3c` on google returns the following document: https://w3c.github.io/wot-thing-description/proposals/simplified-td/

This document has the date of the official TD

[2019-09-04 13:09] egekorkan commented on #808
From the respec documentation, we can set a static publication date for such documents. See https://github.com/w3c/respec/wiki/publishDate

[2019-09-06 09:42] egekorkan opened #810 "[question] How to describe observeOnly properties?"
In the current specification, we cannot describe if a property is only observable and not readable and writeable. In the case of MQTT, if one publishes a message without a retain flag or if the broker doesn't support retain, only the current subscribers of the topic will get the message, hence they will be observing. A `readproperty` via MQTT would be possible only if the retain flag is settable t

[2019-09-06 11:57] zolkis commented on #810
In that case modeling with an event makes most sense IMHO. One could argue about the difference between observing (changes reported) and events (all occurences reported), but in this case the meaning is to report all changes, which is fine.

`observeOnly` brings in too much complexity vs other protocols, like OCF/CoAP where we can't observe a property if not readable.

The [observable, readable, w

[2019-09-09 21:01] hrennau opened #812 "EventAffordance cannot describe contentType of event messages"
EventAffordance: the contentType of the event message pushed by the Thing cannot be described, as the "op" value of the forms in an EventAffordance must be either "subscribeevent" or "unsubscribeevent". The content type specified by a form thus necessarily refers to a "subscribeevent" or an "unsubscribeevent" request - it cannot describe the event message.

Proposal:
Extension of the information m

[2019-09-09 21:28] egekorkan commented on #812
I like the first proposal. However, I think this might be a too big of an addition for the current TD version.
Another proposal would be to rename `ExpectedResponse` to something else since the word _response_ does not really fit to an event being received. I can only think of _ExpectedContentType_ at the moment since it has to be able to mean the response of an action invoke or an event delivery.

[2019-09-09 21:59] hrennau commented on #812
Let me clarify to avoid misunderstandings, as you speak of "too big an addition". I think we NEED an additional name-value pair in class EventAffordance, as otherwise the contentType of an event message remains undescribable. This would be a bug of the specification.

What remains to be decided is the value type of the new name-value pair: either a new class à la ExpectedResponse, or a generalizat

[2019-09-09 22:21] hrennau commented on #807
An interesting point - it should be clarified what "additional data" exactly means. Doubtless - additional object members. How about an array which has more items than the data schema allows - is this "additional data" that a Thing MAY return? I suppose not, but I'm not sure! And then, if a data schema describes a scalar type - say, string - would an array with items of that type be conformant? Mo

[2019-09-09 22:51] egekorkan commented on #812
For the record, after looking at the inputs for the implementation report, I see that 3 TDs use the `response`. These are listed below:
- [responseTest-siemens.json](https://github.com/w3c/wot/blob/master/testing/tests/2019-05/inputs/Siemens/siemens-node-wot/responseTest-siemens.json) from Siemens node-wot implementation that suggests that this was added to show that node-wot supports this.
- [int

[2019-09-09 23:31] egekorkan commented on #807
Regarding your comment on arrays, it is a similar problem. The JSON Schema spec (https://json-schema.org/understanding-json-schema/reference/array.html#list-validation this is not exactly the spec :) ) actually defines `additionalItems` when `items` is **not** a single schema. So if we have the following schema:
[code]
we can accept all of the below since  `additionalItems` is true. This would be

[2019-09-10 06:16] hrennau commented on #807
Interesting, I was not aware of that! What I thought of was the question if Things were licensed to violate "maxItems", on the grounds of being allowed to "return additional data". I suppose this is not intended, and I agree with you that the spec should be absolutely clear about what is allowed and what not.

How about this refinement of the spec:
"A Thing MAY return additional data from an inter

[2019-09-10 10:21] egekorkan commented on #807
We would just have problem that `additionalItems` and `additionalProperties` are not defined in the TD Data Schema vocabulary. We do say that Data Schemas can be extended with other validation keywords however.

[2019-09-10 13:04] vcharpenay commented on #790
See PR #811.

[2019-09-10 20:54] takuki commented on #801
@mlagally , note that the draft WoT charter uses "Thing Description Templates" already.

[2019-09-11 01:02] takuki opened #813 "Reasoning is missing why Example 29 design is considered a good practice"
Just below [Example 29,](https://w3c.github.io/wot-thing-description/#saref-state-annotation-example) it says:

It states that it is a good practice to separate the state of the object from the interaction affordances without explaining the reasoning. Without reasoning, the claim does not mean much.

I suggest to add some reasoning for why the WoT WG thinks it is a good practice.

[2019-09-11 08:54] sebastiankb commented on #801
@mlagally

The idea is quite old and always the term `Thing Description Template` was used from the beginning. E.g., see this presentation [here](https://www.w3.org/2018/03/wot-f2f/slides/2018-03-26-W3C-WoT-F2F-Prague-iotschema-v2.pdf).

Is this the case, why is this defined in the Thing Description document?

[2019-09-11 14:37] sebastiankb commented on #812
Please be aware that the `response` name-value pair is a member of the `Form` class and not only applicable for Action definitions. That means, `response` can be also applied in event based definitions.

Please also consider the requirement from the spec:

Maybe the generic name is not so perfect for an event-based context, but from my point of view it is possible to describe contentType of event

[2019-09-11 21:31] hrennau commented on #807
Yes, a somewhat grey area, I think. The following text from 5.3.2 Data Schema Vocabulary Definitions:

"It is noted that data schema definitions within Thing Description instances are not limited to this defined subset and may use additional terms found in JSON Schema using a TD Context Extension for the additional terms as described in § 7. TD Context Extensions, otherwise these terms are semanti

[2019-09-11 21:58] hrennau commented on #813
I agree that the text is puzzling! To start with, I do not understand what is meant by "to separate the state of the object from the Interaction Affordances ..." Comparing examples 29 and 2, this is the only difference: the meaning of the state is in one case (example 2) expressed by @type:

"@type": "saref:OnOffState",

in the other case by an extension property:

 "ssn:forProperty": "urn:dev:ops

[2019-09-11 22:24] hrennau commented on #812
Oh yes, you are write in remembering me that the response name-value pair is a member of the Form class - my proposal would amount to an inconsistency, as message metadata would in one case be expressed by a form, in the other case by the containing affordance. And it is the form, by definition, which should take care of message metadata and control data.

But the criticism remains valid for sever

[2019-09-12 22:48] egekorkan opened #815 "Implementation report uses the words client and server"
There are multiple assertions with ids starting with server and client (mainly in the manual validation section) in the [implementation report](https://w3c.github.io/wot-thing-description/testing/report.html#manual_validation_results) even though these words are actually never used.
Small but still, there is also [this paragraph](https://w3c.github.io/wot-thing-description/#sec-security-considerat

[2019-09-13 08:15] danielpeintner commented on #808
Note: in general there are ways to *tell* search engines that certain folders should not be indexed/removed.

e.g., robots.txt file in root with
[code]

[2019-09-13 09:41] sebastiankb commented on #815
at least we should change this in the spec. @mmccool can you do a PR?

[2019-09-13 10:03] sebastiankb commented on #807
many thanks for all the feedbacks. We should definitely take care of that and make some refinements in the specification to avoid confusion.  should be done before PR transition.

[2019-09-13 10:06] #793 closed

[2019-09-13 14:04] sebastiankb commented on #808
issue solved by PR #816

[2019-09-13 14:04] #808 closed

[2019-09-14 07:04] k-toumura commented on #808
Unfortunately, robot.txt files in subdirectories are not valid.

in [Robots.txt Specifications](https://developers.google.com/search/reference/robots_txt):

[2019-09-16 21:11] hrennau opened #817 "Events - unclear alignment of data schemas with response messages"
EventAffordances have three name-value pairs providing Data Schemas:
* subscription - describing messages for subscription
* cancellation - describing messages for cancellation
* data - describing event messages

The descriptions given in "5.3.1.5 EventAffordance" seem to make it clear that subscription and cancellation refer to the respective _request_ messages:
* subscription: "Defines data that

[2019-09-17 02:54] egekorkan commented on #817
Interesting observation and I agree with this unclear situation over eventing, we need more work on this part. A dirty fix for your second issue would be to use [oneOf](https://json-schema.org/understanding-json-schema/reference/combining.html#oneof). You can have in the subscription the following schema:
[code]
I am not sure if it really is a fix but it looks somewhat OK to me.

[2019-09-17 21:37] hrennau commented on #817
It is not sufficient to provide a Data Schema capable of validating both, request and response. I think the main function of the Data Schema is not validation, but description, guiding the construction of outgoing messages and the processing of incoming messages. So the spec would be obliged to define a generic mapping of "hybrid" Data Schemas to distinct Data Schemas for request and response, as

[2019-09-19 06:27] sebastiankb commented on #803
In the past, we had a `base` that could be used as an array for multiple protocols. However, this was criticized because of the arithmetic that you have to take care of (as TD designers and implementations).

[2019-09-20 00:16] sebastiankb commented on #807
@ege will provide a PR that includes a new paragraph for clearification

[2019-09-25 07:28] sebastiankb commented on #792
PR was merged

[2019-09-25 07:28] #792 closed

[2019-09-26 15:48] aphillips commented on #643
Thanks for the updates. I18N reviewed this in our teleconference of 2019-09-26. A few comments:

* there have been developments in support of base direction in JSON-based formats, notably during TPAC, where JSON-LD agreed to add direction metadata to context in 1.1. Obviously this work is not currently mature, but the direction (no pun intended) has been set. Your WG should consider the implicatio

[2019-09-26 15:49] aphillips commented on #642
LGTM. I18N is satisfied with this resolution. Thank you!

[2019-09-26 15:55] aphillips commented on #641
LGTM. I18N is satisfied with the changes in the current draft.

[2019-09-26 17:11] aphillips commented on #635
I've reviewed all of the edits pertaining to the original issue here (defining the default language) and the various other suggestions on this thread. I'm satisfied with the results.

[2019-09-26 17:12] aphillips commented on #637
LGTM. I18N is satisfied. Thanks!

[2019-09-26 17:14] aphillips commented on #643
Note: JSON-LD's resolution to add @dir can be found here: https://github.com/w3c/json-ld-syntax/issues/11

[2019-09-26 17:22] aphillips commented on #639
The original comment was in case non-locale-neutral formats were encouraged/allowed/etc. With the clarifications added, I'm satisfied. Thanks!

[2019-09-26 17:25] aphillips commented on #638
LGTM. I18N is satisfied. Thanks!

[2019-09-27 15:17] sebastiankb commented on #642
thank you for your feedback. I will close this issue.

[2019-09-27 15:17] #642 closed

[2019-09-27 15:22] sebastiankb commented on #641
thank you for your feedback. I will close this issue.

[2019-09-27 15:22] #641 closed

[2019-09-27 15:25] sebastiankb commented on #639
thank you for your feedback. Close this issue.

[2019-09-27 15:25] #639 closed

[2019-09-27 15:26] sebastiankb commented on #638
thank you for your feedback. I will close this issue.

[2019-09-27 15:26] #638 closed

[2019-09-27 15:26] sebastiankb commented on #637
thank you for your feedback. I will close this issue.

[2019-09-27 15:26] #637 closed

[2019-09-27 15:29] sebastiankb commented on #635
thank you for your feedback. I will close this issue.

[2019-09-27 15:29] #635 closed

[2019-10-08 12:52] sebastiankb commented on #801
PR was merged. Close this issue.

[2019-10-08 12:52] #801 closed

[2019-10-10 20:21] sebastiankb commented on #817
@hrennau thank you for your comment.  I agree with you that example 35 is quite tricky because the request and response pattern is reflected within the data schema. In particular, this example follows a similar approach that can be also found in [OpenAPI specifictation](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#fixed-fields-20):

readOnly | boolean | Relevant only

[2019-10-11 07:45] #807 closed

[2019-10-11 11:48] sebastiankb commented on #794
quick update:
id field is now optional and 'uniqueness' was removed from definition.
https://w3c.github.io/wot-thing-description/#thing

Please review.

[2019-10-14 07:34] mmccool commented on #730
The "PR Needed" label is for a PR to make flow mandatory and remove the default value.   Even if we do such a PR, this issue can't technically be closed until we have OAuth implementations for all flows.  We can, however, decide to remove flows for which we have an inadequate number of implementations when we go to PR and can then mark this issue with the "Defer to next TD version" label.

[2019-10-14 07:38] mmccool commented on #300
Upon reviewing this, I would strongly prefer seeing this fixed for CR2 by allowing "security" to have both "string" and SecurityScheme objects in an array and making securityDefinitions optional.  It will not be possible to fix this (make security definitions less verbose) in a backward-compatible fashion in future TD iterations if we don't fix it now.

The only reason I have not done this myself

[2019-10-14 07:44] mmccool commented on #815
I can fix the wording in the implementation report easily.   Fixing the ids though is a PITA since we would have to coordinate the updates in the AssertionTester as well as in the TD document itself (although these changes will not be visible in the rendering).    I have marked this as "PR needed" but suggest that TWO PRs are needed: one that fixes the wording (I can do this one...) and another th

[2019-10-14 07:50] mmccool commented on #388
As an update, I was reminded of this and will look into it when I update the other things in the IR (eg client/server terminology).

[2019-10-14 08:02] mmccool commented on #300
To clarify: it's not currently broken, just overly verbose.  Allowing "in-line" SecurityScheme definitions in "security" would reduce verbosity in some (very common) cases, for example, "nosec", or cases when everything uses the same scheme, in which case it would be nice to just have "security" at the top level with a single SecurityScheme object (inline definition).

[2019-10-15 05:11] mmccool commented on #730
Re-reading the above I see that both Panasonic and Siemens have implementations for the "code" flow.   So OAuth2 itself will not be at risk.  It seems Oracle has an implementation for the "client" flow, but I don't know if we have a second one; so that flow may be at risk.   However, I still think making "flow" mandatory and removing the default is a good idea... I am working on a PR for that now.

[2019-10-15 05:46] mmccool commented on #815
Another and simpler resolution to this would be to define the terms "client" and "server" in the implementation report as "network roles".   Actually, the IR ALREADY includes these definitions in section 6:

"Each implementation represents a working system that either exposes or consumes at least one WoT Thing Description. Implementations that expose a Thing Description act as a network server wit

[2019-10-15 06:05] mmccool commented on #388
I just checked and these have been added and exist in the IR.   So I am closing this issue.

[2019-10-15 06:05] #388 closed

[2019-10-15 07:47] mmccool commented on #730
It would be good to know what "flow" Mozilla uses.   If both Oracle and Mozilla use the "client" flow, and we can get the Mozilla TDs to validate, then we might be able to remove one more flow from the at-risk category...

[2019-10-15 19:04] vcharpenay commented on #790
(and 474df1e for a minor edit related to that PR.)

[2019-10-15 19:04] #790 closed

[2019-10-15 19:16] vcharpenay commented on #467
Fixed by 72188d1. Please review before I close the issue.

[2019-10-15 21:52] egekorkan commented on #467
It looks to be fixed, issue can be closed

[2019-10-16 03:44] mmccool opened #824 "Update Privacy Risks and Mitigations that reference IDs"
Regarding the following

"* However, it would be better to mention the risk of "id" (esp. unique
  ID's being mandatory and we made it optional and removed the
  uniqueness) within the section 10. We might want to add one more PR
  for that purpose."

There already is a privacy risk/mitigation section in section 9 (not 10...) regarding ids but it needs to be revised now that id's are optional and

[2019-10-16 07:28] sebastiankb commented on #815
In the TD spec there is this paragraph

'server' should be Producer, right?

[2019-10-16 08:50] sebastiankb commented on #640
since @aphillips already provide us a detailed positive feedback about our I18N changes I think this issue should be also ok.

@aphillips please reopen, if it is not the case.

[2019-10-16 08:50] #640 closed

[2019-10-16 08:51] egekorkan commented on #815
I always tend to think of MQTT where the exposer and consumers are both MQTT clients. The only server-like entity is the broker.